In [1]:
import pandas as pd

In [2]:
bond=pd.read_csv("jamesbond.csv")
bond.head(3)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [3]:
# set_index()->to set the index
bond.set_index(keys="Film",inplace=True)

In [4]:
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [5]:
#reset_index->to reset the index so that it can come to the original stage
#so here by defult the drop perameteer sets is False so if u will really want to delete please set it to be True 
bond.reset_index(drop=False)

bond.reset_index(drop=True)

bond.reset_index(drop=False,inplace=True)
bond.head(3)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [8]:
# another way to write at the time of importing the dataset
import pandas as pd
bond=pd.read_csv("jamesbond.csv",index_col="Film")
bond.sort_index(inplace=True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [14]:
# Retrieve the data using .loc[] Accessor
bond.loc["A View to a Kill"]
bond.loc["GoldenEye"]

Year                            1995
Actor                 Pierce Brosnan
Director             Martin Campbell
Box Office                     518.5
Budget                          76.9
Bond Actor Salary                5.1
Name: GoldenEye, dtype: object

In [15]:
bond.loc["Casino Royale"]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [17]:
# here secondary parameter is included 
bond.loc["Diamonds Are Foreever":"From Russia with you"]
bond.loc["Diamonds Are Foreever":"From Russia with you":2]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6

In [23]:
bond.loc[["Diamonds Are Forever","From Russia with Love"]]

# so everytime the whatever you are looking ypu should need to check the item using the "in" 

"From Russia with you" in bond.index

False

In [26]:
# Now we have to learn the iloc[] Accessor
bond=pd.read_csv("jamesbond.csv")
bond.head(3)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [29]:
bond.iloc[1:4]

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7

In [30]:
bond.loc[1:4]

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [ ]:
#so the main difference in loc and iloca is inside the loc[1:4] second parameter result is visible to the result
#but inside loc if we are giving the same parameter [1:4] then second parameter result will be excluded 

#-------------------------

In [ ]:
#More Practice with iloc and loc accessor

In [32]:
# Now we have to learn the iloc[] Accessor
bond=pd.read_csv("jamesbond.csv",index_col="Film")
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [36]:
#different ways to fetch the data using loc.

bond.loc["Goldfinger","Actor"]
bond.loc["Goldfinger":,"Actor"]
bond.loc["Goldfinger":,"Actor":]
bond.loc[["Goldfinger","Moonraker"],["Actor","Budget"]]

                   Actor  Budget
Film
Goldfinger  Sean Connery    18.6
Moonraker    Roger Moore    91.5

In [43]:
#different ways to fetch the data using iloc.
bond.iloc[3,3]
bond.iloc[3:,3]
bond.iloc[3:,4:]
bond.iloc[[5,6],[2,3]]

                                      Director  Box Office
Film
You Only Live Twice              Lewis Gilbert       514.2
On Her Majesty's Secret Service  Peter R. Hunt       291.5

In [46]:
# Assign new Value
bond=pd.read_csv("jamesbond.csv",index_col="Film")
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [47]:
bond.loc["Goldfinger","Director"]="Tushar"

In [48]:
bond.loc["Goldfinger","Director"]

'Tushar'

In [52]:
#if i want to  work on multiple items
bond.loc["Dr. No",["Director","Actor","Budget"]]

Director    Terence Young
Actor        Sean Connery
Budget                7.0
Name: Dr. No, dtype: object

In [53]:
bond.loc["Dr. No",["Director","Actor","Budget"]]=["DirectorX","Akshay","80000000"]

In [54]:
bond.loc["Dr. No",["Director","Actor","Budget"]]

Director    DirectorX
Actor          Akshay
Budget       80000000
Name: Dr. No, dtype: object

In [61]:
#At a single time change multiple item
bond.head(5)

actor_is_sean_Connery=bond["Actor"]=="Sean Connery"
bond[actor_is_sean_Connery]="Sir Sean Connery"

In [65]:
bond

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Akshay,DirectorX,448.8,80000000,0.6
From Russia with Love,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery
Goldfinger,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery
Thunderball,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
You Only Live Twice,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Never Say Never Again,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [70]:
# below is the syntax to rename the row index data.

bond.rename(mapper={"GoldenEye":"Golden Eye",
                   "The World Is Not Enough":"Best Bond Movie Ever"})

bond.rename(mapper={"GoldenEye":"Golden Eye",
                   "The World Is Not Enough":"Best Bond Movie Ever"},axis=0)

bond.rename(mapper={"GoldenEye":"Golden Eye",
                   "The World Is Not Enough":"Best Bond Movie Ever"},axis="rows")

bond.rename(mapper={"GoldenEye":"Golden Eye",
                   "The World Is Not Enough":"Best Bond Movie Ever"},axis="index")

bond.rename(index={"GoldenEye":"Golden Eye",
                   "The World Is Not Enough":"Best Bond Movie Ever"})

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Akshay,DirectorX,448.8,80000000,0.6
From Russia with Love,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery
Goldfinger,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery
Thunderball,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
You Only Live Twice,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Never Say Never Again,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Golden Eye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
Best Bond Movie Ever,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [76]:
# here we will going to learn to rename the column header
bond.rename(mapper={"Year":"Release Date",
                   "Box Office":"Revenue"},axis=1)
bond.rename(mapper={"Year":"Release Date",
                   "Box Office":"Revenue"},axis="columns")
bond.rename(columns={"Year":"Release Date",
                   "Box Office":"Revenue"})

,Release Date,Actor,Director,Revenue,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Akshay,DirectorX,448.8,80000000,0.6
From Russia with Love,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery
Goldfinger,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery
Thunderball,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
You Only Live Twice,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Never Say Never Again,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery,Sir Sean Connery
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [77]:
bond.head(1)

        Year   Actor   Director Box Office    Budget Bond Actor Salary
Film
Dr. No  1962  Akshay  DirectorX      448.8  80000000               0.6

In [78]:
bond.columns

Index(['Year', 'Actor', 'Director', 'Box Office', 'Budget',
       'Bond Actor Salary'],
      dtype='object')

In [80]:
#if i want to make changes in all the header at one go 
bond.columns=["Year of Release","Actor","Director","Gross","Cost","Salary"]

In [81]:
bond.head(1)

       Year of Release   Actor   Director  Gross      Cost Salary
Film
Dr. No            1962  Akshay  DirectorX  448.8  80000000    0.6

# Delete Row and Colums from a Dataframe

In [1]:
import pandas as pd
bond=pd.read_csv("jamesbond.csv",index_col="Film")
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [91]:
#Deleting Row 
bond.drop("Thunderball")

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [93]:
bond.drop("Diamonds Are Forever",axis=0)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [98]:
bond.drop(["Diamonds Are Forever","Dr. No"])
bond.drop(["Diamonds Are Forever","Dr. No"],axis=0)
# this will not going to be permanant till we not provide inplace parameter

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [106]:
#Deleting Columns
bond.drop("Year",axis=1)
bond.drop("Year",axis="columns")
bond.drop(labels=["Actor","Director"],axis="columns")

                                 Year  Box Office  Budget  Bond Actor Salary
Film
Dr. No                           1962       448.8     7.0                0.6
From Russia with Love            1963       543.8    12.6                1.6
Goldfinger                       1964       820.4    18.6                3.2
Thunderball                      1965       848.1    41.9                4.7
Casino Royale                    1967       315.0    85.0                NaN
You Only Live Twice              1967       514.2    59.9                4.4
On Her Majesty's Secret Service  1969       291.5    37.3                0.6
Diamonds Are Forever             1971       442.5    34.7                5.8
Live and Let Die                 1973       460.3    30.8                NaN
The Man with the Golden Gun      1974       334.0    27.7                NaN
The Spy Who Loved Me             1977       533.0    45.1                NaN
Moonraker                        1979       535.0    91.5                NaN
For Your Eyes Only               1981       449.4    60.2                NaN
Never Say Never Again            1983       380.0    86.0                NaN
Octopussy                        1983       373.8    53.9                7.8
A View to a Kill                 1985       275.2    54.5                9.1
The Living Daylights             1987       313.5    68.8                5.2
Licence to Kill                  1989       250.9    56.7                7.9
GoldenEye                        1995       518.5    76.9                5.1
Tomorrow Never Dies              1997       463.2   133.9               10.0
The World Is Not Enough          1999       439.5   158.3               13.5
Die Another Day                  2002       465.4   154.2               17.9
Casino Royale                    2006       581.5   145.3                3.3
Quantum of Solace                2008       514.2   181.4                8.1
Skyfall                          2012       943.5   170.2               14.5
Spectre                          2015       726.7   206.3                NaN

In [122]:
#it will pop only actor column from the dataframe
#but pop is an permanent function there is no rollback option for that 
actor=bond.pop("Actor")
actor

Film
Dr. No                               Sean Connery
From Russia with Love                Sean Connery
Goldfinger                           Sean Connery
Thunderball                          Sean Connery
Casino Royale                         David Niven
You Only Live Twice                  Sean Connery
On Her Majesty's Secret Service    George Lazenby
Diamonds Are Forever                 Sean Connery
Live and Let Die                      Roger Moore
The Man with the Golden Gun           Roger Moore
The Spy Who Loved Me                  Roger Moore
Moonraker                             Roger Moore
For Your Eyes Only                    Roger Moore
Never Say Never Again                Sean Connery
Octopussy                             Roger Moore
A View to a Kill                      Roger Moore
The Living Daylights               Timothy Dalton
Licence to Kill                    Timothy Dalton
GoldenEye                          Pierce Brosnan
Tomorrow Never Dies                Pierce Brosnan
The World Is Not Enough            Pierce Brosnan
Die Another Day                    Pierce Brosnan
Casino Royale                        Daniel Craig
Quantum of Solace                    Daniel Craig
Skyfall                              Daniel Craig
Spectre                              Daniel Craig
Name: Actor, dtype: object

In [126]:
# another way to delete the Coulms it is also permanant 
bond=pd.read_csv("jamesbond.csv",index_col="Film")
bond.head(3)

del bond["Director"]
bond

,Year,Actor,Box Office,Budget,Bond Actor Salary
Film,,,,,
Dr. No,1962,Sean Connery,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,820.4,18.6,3.2
Thunderball,1965,Sean Connery,848.1,41.9,4.7
Casino Royale,1967,David Niven,315.0,85.0,NaN
You Only Live Twice,1967,Sean Connery,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,291.5,37.3,0.6
Diamonds Are Forever,1971,Sean Connery,442.5,34.7,5.8
Live and Let Die,1973,Roger Moore,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,533.0,45.1,NaN
Moonraker,1979,Roger Moore,535.0,91.5,NaN
For Your Eyes Only,1981,Roger Moore,449.4,60.2,NaN
Never Say Never Again,1983,Sean Connery,380.0,86.0,NaN
Octopussy,1983,Roger Moore,373.8,53.9,7.8
A View to a Kill,1985,Roger Moore,275.2,54.5,9.1
The Living Daylights,1987,Timothy Dalton,313.5,68.8,5.2
Licence to Kill,1989,Timothy Dalton,250.9,56.7,7.9
GoldenEye,1995,Pierce Brosnan,518.5,76.9,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,463.2,133.9,10.0
The World Is Not Enough,1999,Pierce Brosnan,439.5,158.3,13.5
Die Another Day,2002,Pierce Brosnan,465.4,154.2,17.9
Casino Royale,2006,Daniel Craig,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,943.5,170.2,14.5
Spectre,2015,Daniel Craig,726.7,206.3,NaN

In [130]:
# How to check the sample
bond=pd.read_csv("jamesbond.csv",index_col="Film")
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [139]:
bond.sample()
bond.sample(3)

# if i want to pull 25% data of the total one 

bond.sample(frac=0.25)

# if i want to use the sample function in column 

bond.sample(3,axis="columns")

,Actor,Director,Bond Actor Salary
Film,,,
Dr. No,Sean Connery,Terence Young,0.6
From Russia with Love,Sean Connery,Terence Young,1.6
Goldfinger,Sean Connery,Guy Hamilton,3.2
Thunderball,Sean Connery,Terence Young,4.7
Casino Royale,David Niven,Ken Hughes,NaN
You Only Live Twice,Sean Connery,Lewis Gilbert,4.4
On Her Majesty's Secret Service,George Lazenby,Peter R. Hunt,0.6
Diamonds Are Forever,Sean Connery,Guy Hamilton,5.8
Live and Let Die,Roger Moore,Guy Hamilton,NaN
The Man with the Golden Gun,Roger Moore,Guy Hamilton,NaN
The Spy Who Loved Me,Roger Moore,Lewis Gilbert,NaN
Moonraker,Roger Moore,Lewis Gilbert,NaN
For Your Eyes Only,Roger Moore,John Glen,NaN
Never Say Never Again,Sean Connery,Irvin Kershner,NaN
Octopussy,Roger Moore,John Glen,7.8
A View to a Kill,Roger Moore,John Glen,9.1
The Living Daylights,Timothy Dalton,John Glen,5.2
Licence to Kill,Timothy Dalton,John Glen,7.9
GoldenEye,Pierce Brosnan,Martin Campbell,5.1
Tomorrow Never Dies,Pierce Brosnan,Roger Spottiswoode,10.0
The World Is Not Enough,Pierce Brosnan,Michael Apted,13.5
Die Another Day,Pierce Brosnan,Lee Tamahori,17.9
Casino Royale,Daniel Craig,Martin Campbell,3.3
Quantum of Solace,Daniel Craig,Marc Forster,8.1
Skyfall,Daniel Craig,Sam Mendes,14.5
Spectre,Daniel Craig,Sam Mendes,NaN

In [ ]:
# use of nlargest and nsmallest method

In [144]:
bond.sort_values("Box Office",ascending=False).head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [145]:
# we can acieve the same result with the help of nalrgest()

bond.nlargest(3,columns="Box Office")

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [146]:
bond.nsmallest(3,columns="Box Office")

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6

In [150]:
# .where() -> it will display entire dataset but show the value of only those values where the condition is meeting the requirement

bond.where(bond["Year"]>1980)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,NaN,NaN,NaN,NaN,NaN,NaN
From Russia with Love,NaN,NaN,NaN,NaN,NaN,NaN
Goldfinger,NaN,NaN,NaN,NaN,NaN,NaN
Thunderball,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
You Only Live Twice,NaN,NaN,NaN,NaN,NaN,NaN
On Her Majesty's Secret Service,NaN,NaN,NaN,NaN,NaN,NaN
Diamonds Are Forever,NaN,NaN,NaN,NaN,NaN,NaN
Live and Let Die,NaN,NaN,NaN,NaN,NaN,NaN
The Man with the Golden Gun,NaN,NaN,NaN,NaN,NaN,NaN
The Spy Who Loved Me,NaN,NaN,NaN,NaN,NaN,NaN
Moonraker,NaN,NaN,NaN,NaN,NaN,NaN
For Your Eyes Only,1981.0,Roger Moore,John Glen,449.4,60.2,NaN
Never Say Never Again,1983.0,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983.0,Roger Moore,John Glen,373.8,53.9,7.8
A View to a Kill,1985.0,Roger Moore,John Glen,275.2,54.5,9.1
The Living Daylights,1987.0,Timothy Dalton,John Glen,313.5,68.8,5.2
Licence to Kill,1989.0,Timothy Dalton,John Glen,250.9,56.7,7.9
GoldenEye,1995.0,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997.0,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
The World Is Not Enough,1999.0,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002.0,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Casino Royale,2006.0,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008.0,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012.0,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015.0,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [5]:
#use the .query method -> remeber that query method always runs on string and columns should not contain any whitespace but our 
#our coulmns are containg the whitespace so firstly we need to remove the space
# the purpose of this it. is run faster in big data
bond.columns
bond.columns=[column_name.replace(" ","_") for column_name in bond.columns]
bond.head(1)

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6

In [155]:
bond.query("Actor=='Sean Connery'")

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN

In [157]:
bond.query("Actor=='Roger Moore' and Director=='John Glen'")

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1

In [6]:
#.apply ()-> it willgoing to apply string at the end of number

def convert_Number_to_String(number):
    return str(number)+"Millions!"
    
columns=["Box_Office","Budget","Bond_Actor_Salary"]
for col in columns:
    bond[col]=bond[col].apply(convert_Number_to_String)

In [3]:
bond.head(5)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [10]:
#Now i want to apply the things on the vertical way not the horrizintal way

def good_movie(row):
    actor=row[1]
    budget=row[4]
    
    if actor=="Pierce Brosnan":
        return "The Best"
    elif actor=="Rooger Moore" and budget>40:
        return "Enjoyable"
    else:
        return"I have no clue"

bond.apply(good_movie,axis="columns")

Film
Dr. No                             I have no clue
From Russia with Love              I have no clue
Goldfinger                         I have no clue
Thunderball                        I have no clue
Casino Royale                      I have no clue
You Only Live Twice                I have no clue
On Her Majesty's Secret Service    I have no clue
Diamonds Are Forever               I have no clue
Live and Let Die                   I have no clue
The Man with the Golden Gun        I have no clue
The Spy Who Loved Me               I have no clue
Moonraker                          I have no clue
For Your Eyes Only                 I have no clue
Never Say Never Again              I have no clue
Octopussy                          I have no clue
A View to a Kill                   I have no clue
The Living Daylights               I have no clue
Licence to Kill                    I have no clue
GoldenEye                                The Best
Tomorrow Never Dies                      The Best
The World Is Not Enough                  The Best
Die Another Day                          The Best
Casino Royale                      I have no clue
Quantum of Solace                  I have no clue
Skyfall                            I have no clue
Spectre                            I have no clue
dtype: object

In [23]:
#.copy Method
import pandas as pd
bond=pd.read_csv("jamesbond.csv",index_col="Film")
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [14]:
Directors= bond["Director"]

In [18]:
Directors["A View to a Kill"]="Mister John Glen"

C:\Users\tusha\AppData\Local\Temp\ipykernel_5816\3100192264.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Directors["A View to a Kill"]="Mister John Glen"

In [22]:
Directors

## so if i am going to see the result this code will also effect to the main source

Film
Dr. No                                  Terence Young
From Russia with Love                   Terence Young
Goldfinger                               Guy Hamilton
Thunderball                             Terence Young
Casino Royale                              Ken Hughes
You Only Live Twice                     Lewis Gilbert
On Her Majesty's Secret Service         Peter R. Hunt
Diamonds Are Forever                     Guy Hamilton
Live and Let Die                         Guy Hamilton
The Man with the Golden Gun              Guy Hamilton
The Spy Who Loved Me                    Lewis Gilbert
Moonraker                               Lewis Gilbert
For Your Eyes Only                          John Glen
Never Say Never Again                  Irvin Kershner
Octopussy                                   John Glen
A View to a Kill                     Mister John Glen
The Living Daylights                        John Glen
Licence to Kill                             John Glen
GoldenEye                             Martin Campbell
Tomorrow Never Dies                Roger Spottiswoode
The World Is Not Enough                 Michael Apted
Die Another Day                          Lee Tamahori
Casino Royale                         Martin Campbell
Quantum of Solace                        Marc Forster
Skyfall                                    Sam Mendes
Spectre                                    Sam Mendes
Name: Director, dtype: object

In [21]:
bond

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
A View to a Kill,1985,Roger Moore,Mister John Glen,275.2,54.5,9.1
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [24]:
## so it effeted both the rows so it is better to create a seprate copy 

bond

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [30]:
Director=bond["Director"].copy()
Director["A View to a Kill"]="Mister John Glen"

In [31]:
Director

Film
Dr. No                                  Terence Young
From Russia with Love                   Terence Young
Goldfinger                               Guy Hamilton
Thunderball                             Terence Young
Casino Royale                              Ken Hughes
You Only Live Twice                     Lewis Gilbert
On Her Majesty's Secret Service         Peter R. Hunt
Diamonds Are Forever                     Guy Hamilton
Live and Let Die                         Guy Hamilton
The Man with the Golden Gun              Guy Hamilton
The Spy Who Loved Me                    Lewis Gilbert
Moonraker                               Lewis Gilbert
For Your Eyes Only                          John Glen
Never Say Never Again                  Irvin Kershner
Octopussy                                   John Glen
A View to a Kill                     Mister John Glen
The Living Daylights                        John Glen
Licence to Kill                             John Glen
GoldenEye                             Martin Campbell
Tomorrow Never Dies                Roger Spottiswoode
The World Is Not Enough                 Michael Apted
Die Another Day                          Lee Tamahori
Casino Royale                         Martin Campbell
Quantum of Solace                        Marc Forster
Skyfall                                    Sam Mendes
Spectre                                    Sam Mendes
Name: Director, dtype: object

In [32]:
bond
#So now in the main dataset the value not got changed

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN