In [3]:
import pandas as pd

# Pass a URL to the pd.read_csv Method

In [4]:
url="https://data.cityofnewyork.us/resource/25th-nujf.csv"
baby_name=pd.read_csv(url)

In [5]:
baby_name.head()

   brth_yr    gndr                      ethcty      nm  cnt  rnk
0     2019  FEMALE  ASIAN AND PACIFIC ISLANDER   Chloe  131    1
1     2019  FEMALE  ASIAN AND PACIFIC ISLANDER  Olivia  109    2
2     2019  FEMALE  ASIAN AND PACIFIC ISLANDER     Mia   88    3
3     2019  FEMALE  ASIAN AND PACIFIC ISLANDER  Sophia   71    4
4     2019  FEMALE  ASIAN AND PACIFIC ISLANDER    Emma   71    4

In [6]:
baby_name["nm"]
baby_name["nm"].to_frame()

           nm
0       Chloe
1      Olivia
2         Mia
3      Sophia
4        Emma
..        ...
995    Andrew
996   Ibrahim
997      Adam
998  Abdullah
999       Ian

[1000 rows x 1 columns]

In [34]:
baby_name["nm"].to_list()

['Chloe',
 'Olivia',
 'Mia',
 'Sophia',
 'Emma',
 'Amelia',
 'Charlotte',
 'Emily',
 'Grace',
 'Isabella',
 'Ella',
 'Evelyn',
 'Ava',
 'Hannah',
 'Bella',
 'Aria',
 'Sarah',
 'Hailey',
 'Arya',
 'Claire',
 'Fatima',
 'Ellie',
 'Maryam',
 'Kayla',
 'Zoe',
 'Audrey',
 'Avery',
 'Abigail',
 'Anna',
 'Maya',
 'Alyssa',
 'Alice',
 'Sofia',
 'Riley',
 'Jasmine',
 'Zoey',
 'Celine',
 'Emilia',
 'Tenzin',
 'Inaaya',
 'Joanna',
 'Fiona',
 'Alina',
 'Sophie',
 'Leah',
 'Anaya',
 'Ayesha',
 'Luna',
 'Zainab',
 'Eva',
 'Annie',
 'Amaya',
 'Mila',
 'Angela',
 'Elena',
 'Inaya',
 'Anabia',
 'Ariana',
 'Manha',
 'Penelope',
 'Zara',
 'Nina',
 'Katherine',
 'Aliza',
 'Scarlett',
 'Zahra',
 'Layla',
 'Natalie',
 'Eleanor',
 'Harper',
 'Jannatul',
 'Irene',
 'Kylie',
 'Aiza',
 'Eliana',
 'Phoebe',
 'Jocelyn',
 'Sara',
 'Ashley',
 'Cynthia',
 'Ariel',
 'Jessica',
 'Ayat',
 'Vivian',
 'Madeline',
 'Angelina',
 'Melody',
 'Amy',
 'Khadija',
 'Rachel',
 'Stella',
 'Madison',
 'Catherine',
 'Abby',
 'Julia',
 'Nora',
 'Michelle',
 'Aurora',
 'Elise',
 'Elizabeth',
 'Kaylee',
 'Aleena',
 'Ivy',
 'Ada',
 'Naomi',
 'Ariella',
 'Athena',
 'Allison',
 'Alexandra',
 'Mariam',
 'Karen',
 'Cecilia',
 'Iris',
 'Isla',
 'Daisy',
 'Joy',
 'Kiara',
 'Zoya',
 'Ophelia',
 'Erin',
 'Lily',
 'Elina',
 'Miya',
 'Aaliyah',
 'Kelly',
 'Stephanie',
 'Violet',
 'Esther',
 'Alisha',
 'Ruby',
 'Angie',
 'Norah',
 'Rhea',
 'Skylar',
 'Kira',
 'Aliya',
 'Ayra',
 'Aisha',
 'Serena',
 'Selina',
 'Hazel',
 'Hoorain',
 'Muntaha',
 'Vanessa',
 'Vicky',
 'Josephine',
 'Helen',
 'Dua',
 'Madeleine',
 'Nabiha',
 'Jannat',
 'Amara',
 'Lydia',
 'Lena',
 'Alayna',
 'Nicole',
 'Janice',
 'Ava',
 'Madison',
 'Skylar',
 'Riley',
 'Amelia',
 'Olivia',
 'Zuri',
 'Isabella',
 'Zoey',
 'Serenity',
 'Fatoumata',
 'Chloe',
 'Aria',
 'Fatima',
 'Leah',
 'Melody',
 'Amina',
 'Mariam',
 'Nova',
 'Layla',
 'Aaliyah',
 'Mia',
 'Brielle',
 'Grace',
 'Nyla',
 'Sophia',
 'Aisha',
 'Miracle',
 'Wynter',
 'Kylie',
 'Kehlani',
 'Kayla',
 'Savannah',
 'Reign',
 'Autumn',
 'Naomi',
 'Abigail',
 'Zoe',
 'Aminata',
 'Harmony',
 'Amira',
 'Leilani',
 'Taylor',
 'Nevaeh',
 'Ariah',
 'Phoenix',
 'Gianna',
 'Bella',
 'Genesis',
 'Makayla',
 'Faith',
 'Mya',
 'Jade',
 'Journee',
 'Amiyah',
 'Emma',
 'Rylee',
 'London',
 'Victoria',
 'Gabriella',
 'Kali',
 'Kennedy',
 'Jayla',
 'Nylah',
 'Malia',
 'Summer',
 'Hannah',
 'Peyton',
 'Ariana',
 'Gabrielle',
 'Arielle',
 'Jordyn',
 'Paige',
 'Maliyah',
 'Destiny',
 'Paris',
 'Khloe',
 'Sarai',
 'Sienna',
 'Arya',
 'Alani',
 'Amaya',
 'Dream',
 'Imani',
 'Lyric',
 'Ella',
 'Kaylee',
 'Ariel',
 'Avery',
 'Sarah',
 'Aubrey',
 'Aicha',
 'Dior',
 'Khadijah',
 'Ryan',
 'Mariama',
 'Royalty',
 'Amora',
 'Amara',
 'Maya',
 'Kimora',
 'Mackenzie',
 'Leila',
 'Milan',
 'Laila',
 'Isabelle',
 'Winter',
 'Sage',
 'Bintou',
 'Shiloh',
 'Melanie',
 'Michelle',
 'Journey',
 'Milani',
 'Aliyah',
 'Trinity',
 'Hailey',
 'Jaliyah',
 'Emily',
 'Zainab',
 'Alexis',
 'Jasmine',
 'Amirah',
 'Hope',
 'Londyn',
 'Anaya',
 'Cali',
 'Skylah',
 'Jewel',
 'Kori',
 'Elizabeth',
 'Maryam',
 'Eva',
 'Nia',
 'Arianna',
 'Luna',
 'Brianna',
 'Chelsea',
 'Janiyah',
 'Eliana',
 'Tori',
 'Jada',
 'Lauren',
 'Egypt',
 'Zara',
 'Aniyah',
 'Amayah',
 'Mckenzie',
 'Kalani',
 'Aurora',
 'Sapphire',
 'Morgan',
 'Zora',
 'Lauryn',
 'Nala',
 'Kamiyah',
 'Sevyn',
 'Amani',
 'Sanai',
 'Khaleesi',
 'Hawa',
 'Sariyah',
 'Zhuri',
 'Oumou',
 'Eden',
 'Nailah',
 'Zariah',
 'Kenzie',
 'Gia',
 'Ariyah',
 'Royal',
 'Khadija',
 'Isabella',
 'Emma',
 'Sophia',
 'Mia',
 'Camila',
 'Luna',
 'Valentina',
 'Sofia',
 'Victoria',
 'Olivia',
 'Ava',
 'Amelia',
 'Alaia',
 'Leah',
 'Zoe',
 'Genesis',
 'Abigail',
 'Scarlett',
 'Emily',
 'Ashley',
 'Ariana',
 'Penelope',
 'Samantha',
 'Charlotte',
 'Hailey',
 'Mila',
 'Chloe',
 'Elizabeth',
 'Melanie',
 'Madison',
 'Allison',
 'Gianna',
 'Elena',
 'Bella',
 'Amaya',
 'Amy',
 'Kaylee',
 'Grace',
 'Valerie',
 'Gabriella',
 'Alexa',
 'Emilia',
 'Eliana',
 'Daniela',
 'Arya',
 'Brianna',
 'Kimberly',
 'Riley',
 'Maya',
 'Valeria',
 'Arianna',
 'Jade',
 'Sarah',
 'Kylie',
 'Layla',
 'Ana',
 'Aria',
 'Amaia',
 'Emely',
 'Aaliyah',
 'Leilani',
 'Amalia',
 'Natalie',
 'Evelyn',
 'Zoey',
 'Hannah',
 'Andrea',
 'Eva',
 'Jayleen',
 'Lia',
 'Samara',
 'Alison',
 'Juliet',
 'Kayla',
 'Isabel',
 'Melody',
 'Maria',
 'Savannah',
 'Violet',
 'Khloe',
 'Lucia',
 'Diana',
 'Kamila',
 'Kiara',
 'Rose',
 'Alice',
 'Aliyah',
 'Natalia',
 'Jazlyn',
 'Gabriela',
 'Ella',
 'Michelle',
 'Serenity',
 'Athena',
 'Celine',
 'Antonella',
 'Juliette',
 'Sarai',
 'Alina',
 'Kaylani',
 'Alexandra',
 'Amanda',
 'Avery',
 'Stephanie',
 'Aurora',
 'Nicole',
 'Nova',
 'Alyssa',
 'Jasmine',
 'Ximena',
 'Adriana',
 'Alana',
 'Maia',
 'Liliana',
 'Melany',
 'Danna',
 'Esther',
 'London',
 'Skylar',
 'Ariella',
 'Aleah',
 'Catalina',
 'Naomi',
 'Leslie',
 'Sophie',
 'Mariana',
 'Sienna',
 'Ellie',
 'Giselle',
 'Destiny',
 'Itzel',
 'Angela',
 'Vanessa',
 'Aubrey',
 'Liana',
 'Daniella',
 'Yaretzi',
 'Ruby',
 'Valery',
 'Kailani',
 'Angelina',
 'Angie',
 'Katherine',
 'Madelyn',
 'Juliana',
 'Keyla',
 'Jazmin',
 'Jayla',
 'Luciana',
 'Briana',
 'Nyla',
 'Anastasia',
 'Autumn',
 'Rachel',
 'Alessia',
 'Alia',
 'Amber',
 'Brielle',
 'Amira',
 'Zara',
 'Nylah',
 'Malia',
 'Kehlani',
 'Julia',
 'Laila',
 'Dahlia',
 'Eliza',
 'Alondra',
 'Esmeralda',
 'Dayana',
 'Alma',
 'Summer',
 'Sara',
 'Selena',
 'Lily',
 'Nashla',
 'Alanna',
 'Audrey',
 'Eileen',
 'Elisa',
 'Lizbeth',
 'Mya',
 'Melissa',
 'Adeline',
 'Alani',
 'Analia',
 'Luz',
 'Khaleesi',
 'Julissa',
 'Lauren',
 'Ariel',
 'Delilah',
 'Heaven',
 'Leila',
 'Angelica',
 'Annalise',
 'Stella',
 'Liah',
 'Meghan',
 'April',
 'Zuri',
 'Miah',
 'Jessica',
 'Dara',
 'Elianny',
 'Amara',
 'Guadalupe',
 'Isabela',
 'Isabelle',
 'Kaitlyn',
 'Aileen',
 'Alayna',
 'Karen',
 'Lesly',
 'Adelynn',
 'Ailani',
 'Alicia',
 'Heidy',
 'Jaylin',
 'Fernanda',
 'Jennifer',
 'Everly',
 'Cali',
 'Miracle',
 'Bianca',
 'Aubree',
 'Ayla',
 'Miranda',
 'Arlette',
 'Evangeline',
 'Rylee',
 'Yaritza',
 'Crystal',
 'Abby',
 'Adele',
 'Alahia',
 'Cataleya',
 'Gia',
 'Julianna',
 'Laia',
 'Litzy',
 'Kali',
 'Keily',
 'Lyanna',
 'Harley',
 'Izabella',
 'Skyla',
 'Mackenzie',
 'Milani',
 'Nina',
 'Scarlet',
 'Tiffany',
 'Sherlyn',
 'Yareli',
 'Chaya',
 'Leah',
 'Esther',
 'Olivia',
 'Miriam',
 'Emma',
 'Rachel',
 'Sarah',
 'Charlotte',
 'Sophia',
 'Sara',
 'Rivka',
 'Mia',
 'Chana',
 'Ella',
 'Sofia',
 'Emily',
 'Ava',
 'Gitty',
 'Maya',
 'Lily',
 'Zoe',
 'Amelia',
 'Sophie',
 'Penelope',
 'Faigy',
 'Isabella',
 'Victoria',
 'Mila',
 'Malky',
 'Alexandra',
 'Emilia',
 'Elizabeth',
 'Abigail',
 'Rivky',
 'Eleanor',
 'Hannah',
 'Baila',
 'Grace',
 'Avery',
 'Chloe',
 'Julia',
 'Nora',
 'Anna',
 'Eva',
 'Layla',
 'Malka',
 'Evelyn',
 'Eliana',
 'Madison',
 'Stella',
 'Aria',
 'Ruby',
 'Violet',
 'Rose',
 'Josephine',
 'Lucy',
 'Gabriella',
 'Raizy',
 'Scarlett',
 'Isla',
 'Sienna',
 'Dina',
 'Riley',
 'Noa',
 'Harper',
 'Naomi',
 'Valentina',
 'Margot',
 'Hindy',
 'Devorah',
 'Lillian',
 'Clara',
 'Shaindy',
 'Chany',
 'Sadie',
 'Juliette',
 'Luna',
 'Toby',
 'Vivian',
 'Esty',
 'Chava',
 'Natalie',
 'Rebecca',
 'Libby',
 'Maria',
 'Sury',
 'Isabel',
 'Talia',
 'Alice',
 'Ariana',
 'Molly',
 'Claire',
 'Yitty',
 'Eloise',
 'Caroline',
 'Hazel',
 'Margaret',
 'Sloane',
 'Ariella',
 'Isabelle',
 'Madeline',
 'Yides',
 'Nina',
 'Quinn',
 'Beatrice',
 'Bella',
 'Vera',
 'Fraidy',
 'Lila',
 'Liliana',
 'Lyla',
 'Adele',
 'Audrey',
 'Lucia',
 'Amina',
 'Ellie',
 'Aurora',
 'Francesca',
 'Gianna',
 'Kayla',
 'Maeve',
 'Alessia',
 'Ada',
 'Fiona',
 'Goldy',
 'Ayla',
 'Jane',
 'Pearl',
 'Ruchy',
 'Cecilia',
 'Henny',
 'Hailey',
 'Madeleine',
 'Nechama',
 'Celine',
 'Frances',
 'Liv',
 'Skylar',
 'Sabrina',
 'Mindy',
 'Nicole',
 'Angelina',
 'Bruchy',
 'Catherine',
 'Lina',
 'Gemma',
 'Juliana',
 'Adeline',
 'Juliet',
 'June',
 'Bracha',
 'Eliza',
 'Elle',
 'Sasha',
 'Annabelle',
 'Samantha',
 'Olive',
 'Siena',
 'Chavy',
 'Parker',
 'Lea',
 'Mariam',
 'Alessandra',
 'Yehudis',
 'Arianna',
 'Yael',
 'Zissy',
 'Layan',
 'Pessy',
 'Vivienne',
 'Yocheved',
 'Alma',
 'Blima',
 'Aisha',
 'Breindy',
 'Etty',
 'Adina',
 'Dylan',
 'Faiga',
 'Adriana',
 'Anastasia',
 'Simone',
 'Diana',
 'Elisheva',
 'Sydney',
 'Shoshana',
 'Zoey',
 'Poppy',
 'Serena',
 'Rochel',
 'Iris',
 'Hinda',
 'Kaia',
 'Laila',
 'Maryam',
 'Elena',
 'Eve',
 'Reese',
 'Veronica',
 'Frimet',
 'Liba',
 'Mackenzie',
 'Lena',
 'Imona',
 'Adelaide',
 'Ahuva',
 'Lana',
 'Leila',
 'Blimy',
 'Colette',
 'Louise',
 'Devora',
 'Raizel',
 'Eden',
 'Liana',
 'Addison',
 'Edith',
 'Hadassah',
 'Georgia',
 'Lia',
 'Batsheva',
 'Blake',
 'Emmy',
 'Jenna',
 'Savannah',
 'Summer',
 'Willa',
 'Phoebe',
 'Perel',
 'Paige',
 'Katherine',
 'Madelyn',
 'Mary',
 'Ruth',
 'Genevieve',
 'Piper',
 'Lilah',
 'Michelle',
 'Shaindel',
 'Cora',
 'Esme',
 'Gittel',
 'Frady',
 'Jana',
 'Sima',
 'Aviva',
 'Elise',
 'Ana',
 'Everly',
 'Remi',
 'Roizy',
 'Keira',
 'Lara',
 'Ivy',
 'Luciana',
 'Lilly',
 'Amelie',
 'Frida',
 'Amira',
 'Mira',
 'Hanna',
 'Aliza',
 'Julianna',
 'Arya',
 'Idy',
 'Laura',
 'Nova',
 'Emerson',
 'Giuliana',
 'Lola',
 'Rosa',
 'Matilda',
 'Autumn',
 'Willow',
 'Louisa',
 'Camilla',
 'Malika',
 'Shevy',
 'Suri',
 'Charlie',
 'Daniella',
 'Evie',
 'Daphne',
 'Iymona',
 'Elliott',
 'Morgan',
 'Nadia',
 'Jade',
 'Jessica',
 'Alina',
 'Alyssa',
 'Kamila',
 'Remy',
 'Romy',
 'Sylvie',
 'Tziporah',
 'Vienna',
 'Zelda',
 'Annabel',
 'Athena',
 'Georgina',
 'Aurelia',
 'Allison',
 'Ayala',
 'Golda',
 'Emery',
 'Bianca',
 'Gabriela',
 'Gabrielle',
 'Muslima',
 'Jasmine',
 'Nava',
 'Devoiry',
 'Malak',
 'Perry',
 'Shaina',
 'Estelle',
 'Sylvia',
 'Bina',
 'Thea',
 'Yasmina',
 'Brooke',
 'Tzippy',
 'Dana',
 'Fradel',
 'Winnie',
 'Meira',
 'Melissa',
 'Zara',
 'Livia',
 'Michal',
 'Lucille',
 'Millie',
 'Milana',
 'Samira',
 'Shifra',
 'Reem',
 'Noor',
 'Anya',
 'Peyton',
 'Aya',
 'Aubrey',
 'Rosie',
 'Celia',
 'Ruchel',
 'Brielle',
 'Goldie',
 'Camila',
 'Helena',
 'Dalia',
 'Hendy',
 'Dua',
 'Ester',
 'Ines',
 'Jacqueline',
 'Shira',
 'Tzipora',
 'Leia',
 'Amara',
 'Aliya',
 'Astrid',
 'Blair',
 'Brianna',
 'Brooklyn',
 'Dahlia',
 'Celeste',
 'Camille',
 'Devory',
 'Fatima',
 'Frieda',
 'Giovanna',
 'Juniper',
 'Lydia',
 'Kira',
 'Lielle',
 'Miri',
 'Natalia',
 'Reizy',
 'Noelle',
 'Riva',
 'Tessa',
 'Serafina',
 'Ethan',
 'Lucas',
 'Aiden',
 'Muhammad',
 'Jayden',
 'Ryan',
 'Jasper',
 'Liam',
 'Daniel',
 'Noah',
 'Mason',
 'Leo',
 'William',
 'Ayaan',
 'Evan',
 'Nathan',
 'Alexander',
 'Jason',
 'Oliver',
 'Henry',
 'Mohammad',
 'Austin',
 'Kyle',
 'Aaron',
 'Arham',
 'Dylan',
 'Eric',
 'Justin',
 'Matthew',
 'Andrew',
 'Ibrahim',
 'Adam',
 'Abdullah',
 'Ian']

In [35]:
baby_name["nm"].to_dict()

{0: 'Chloe',
 1: 'Olivia',
 2: 'Mia',
 3: 'Sophia',
 4: 'Emma',
 5: 'Amelia',
 6: 'Charlotte',
 7: 'Emily',
 8: 'Grace',
 9: 'Isabella',
 10: 'Ella',
 11: 'Evelyn',
 12: 'Ava',
 13: 'Hannah',
 14: 'Bella',
 15: 'Aria',
 16: 'Sarah',
 17: 'Hailey',
 18: 'Arya',
 19: 'Claire',
 20: 'Fatima',
 21: 'Ellie',
 22: 'Maryam',
 23: 'Kayla',
 24: 'Zoe',
 25: 'Audrey',
 26: 'Avery',
 27: 'Abigail',
 28: 'Anna',
 29: 'Maya',
 30: 'Alyssa',
 31: 'Alice',
 32: 'Sofia',
 33: 'Riley',
 34: 'Jasmine',
 35: 'Zoey',
 36: 'Celine',
 37: 'Emilia',
 38: 'Tenzin',
 39: 'Inaaya',
 40: 'Joanna',
 41: 'Fiona',
 42: 'Alina',
 43: 'Sophie',
 44: 'Leah',
 45: 'Anaya',
 46: 'Ayesha',
 47: 'Luna',
 48: 'Zainab',
 49: 'Eva',
 50: 'Annie',
 51: 'Amaya',
 52: 'Mila',
 53: 'Angela',
 54: 'Elena',
 55: 'Inaya',
 56: 'Anabia',
 57: 'Ariana',
 58: 'Manha',
 59: 'Penelope',
 60: 'Zara',
 61: 'Nina',
 62: 'Katherine',
 63: 'Aliza',
 64: 'Scarlett',
 65: 'Zahra',
 66: 'Layla',
 67: 'Natalie',
 68: 'Eleanor',
 69: 'Harper',
 70: 'Jannatul',
 71: 'Irene',
 72: 'Kylie',
 73: 'Aiza',
 74: 'Eliana',
 75: 'Phoebe',
 76: 'Jocelyn',
 77: 'Sara',
 78: 'Ashley',
 79: 'Cynthia',
 80: 'Ariel',
 81: 'Jessica',
 82: 'Ayat',
 83: 'Vivian',
 84: 'Madeline',
 85: 'Angelina',
 86: 'Melody',
 87: 'Amy',
 88: 'Khadija',
 89: 'Rachel',
 90: 'Stella',
 91: 'Madison',
 92: 'Catherine',
 93: 'Abby',
 94: 'Julia',
 95: 'Nora',
 96: 'Michelle',
 97: 'Aurora',
 98: 'Elise',
 99: 'Elizabeth',
 100: 'Kaylee',
 101: 'Aleena',
 102: 'Ivy',
 103: 'Ada',
 104: 'Naomi',
 105: 'Ariella',
 106: 'Athena',
 107: 'Allison',
 108: 'Alexandra',
 109: 'Mariam',
 110: 'Karen',
 111: 'Cecilia',
 112: 'Iris',
 113: 'Isla',
 114: 'Daisy',
 115: 'Joy',
 116: 'Kiara',
 117: 'Zoya',
 118: 'Ophelia',
 119: 'Erin',
 120: 'Lily',
 121: 'Elina',
 122: 'Miya',
 123: 'Aaliyah',
 124: 'Kelly',
 125: 'Stephanie',
 126: 'Violet',
 127: 'Esther',
 128: 'Alisha',
 129: 'Ruby',
 130: 'Angie',
 131: 'Norah',
 132: 'Rhea',
 133: 'Skylar',
 134: 'Kira',
 135: 'Aliya',
 136: 'Ayra',
 137: 'Aisha',
 138: 'Serena',
 139: 'Selina',
 140: 'Hazel',
 141: 'Hoorain',
 142: 'Muntaha',
 143: 'Vanessa',
 144: 'Vicky',
 145: 'Josephine',
 146: 'Helen',
 147: 'Dua',
 148: 'Madeleine',
 149: 'Nabiha',
 150: 'Jannat',
 151: 'Amara',
 152: 'Lydia',
 153: 'Lena',
 154: 'Alayna',
 155: 'Nicole',
 156: 'Janice',
 157: 'Ava',
 158: 'Madison',
 159: 'Skylar',
 160: 'Riley',
 161: 'Amelia',
 162: 'Olivia',
 163: 'Zuri',
 164: 'Isabella',
 165: 'Zoey',
 166: 'Serenity',
 167: 'Fatoumata',
 168: 'Chloe',
 169: 'Aria',
 170: 'Fatima',
 171: 'Leah',
 172: 'Melody',
 173: 'Amina',
 174: 'Mariam',
 175: 'Nova',
 176: 'Layla',
 177: 'Aaliyah',
 178: 'Mia',
 179: 'Brielle',
 180: 'Grace',
 181: 'Nyla',
 182: 'Sophia',
 183: 'Aisha',
 184: 'Miracle',
 185: 'Wynter',
 186: 'Kylie',
 187: 'Kehlani',
 188: 'Kayla',
 189: 'Savannah',
 190: 'Reign',
 191: 'Autumn',
 192: 'Naomi',
 193: 'Abigail',
 194: 'Zoe',
 195: 'Aminata',
 196: 'Harmony',
 197: 'Amira',
 198: 'Leilani',
 199: 'Taylor',
 200: 'Nevaeh',
 201: 'Ariah',
 202: 'Phoenix',
 203: 'Gianna',
 204: 'Bella',
 205: 'Genesis',
 206: 'Makayla',
 207: 'Faith',
 208: 'Mya',
 209: 'Jade',
 210: 'Journee',
 211: 'Amiyah',
 212: 'Emma',
 213: 'Rylee',
 214: 'London',
 215: 'Victoria',
 216: 'Gabriella',
 217: 'Kali',
 218: 'Kennedy',
 219: 'Jayla',
 220: 'Nylah',
 221: 'Malia',
 222: 'Summer',
 223: 'Hannah',
 224: 'Peyton',
 225: 'Ariana',
 226: 'Gabrielle',
 227: 'Arielle',
 228: 'Jordyn',
 229: 'Paige',
 230: 'Maliyah',
 231: 'Destiny',
 232: 'Paris',
 233: 'Khloe',
 234: 'Sarai',
 235: 'Sienna',
 236: 'Arya',
 237: 'Alani',
 238: 'Amaya',
 239: 'Dream',
 240: 'Imani',
 241: 'Lyric',
 242: 'Ella',
 243: 'Kaylee',
 244: 'Ariel',
 245: 'Avery',
 246: 'Sarah',
 247: 'Aubrey',
 248: 'Aicha',
 249: 'Dior',
 250: 'Khadijah',
 251: 'Ryan',
 252: 'Mariama',
 253: 'Royalty',
 254: 'Amora',
 255: 'Amara',
 256: 'Maya',
 257: 'Kimora',
 258: 'Mackenzie',
 259: 'Leila',
 260: 'Milan',
 261: 'Laila',
 262: 'Isabelle',
 263: 'Winter',
 264: 'Sage',
 265: 'Bintou',
 266: 'Shiloh',
 267: 'Melanie',
 268: 'Michelle',
 269: 'Journey',
 270: 'Milani',
 271: 'Aliyah',
 272: 'Trinity',
 273: 'Hailey',
 274: 'Jaliyah',
 275: 'Emily',
 276: 'Zainab',
 277: 'Alexis',
 278: 'Jasmine',
 279: 'Amirah',
 280: 'Hope',
 281: 'Londyn',
 282: 'Anaya',
 283: 'Cali',
 284: 'Skylah',
 285: 'Jewel',
 286: 'Kori',
 287: 'Elizabeth',
 288: 'Maryam',
 289: 'Eva',
 290: 'Nia',
 291: 'Arianna',
 292: 'Luna',
 293: 'Brianna',
 294: 'Chelsea',
 295: 'Janiyah',
 296: 'Eliana',
 297: 'Tori',
 298: 'Jada',
 299: 'Lauren',
 300: 'Egypt',
 301: 'Zara',
 302: 'Aniyah',
 303: 'Amayah',
 304: 'Mckenzie',
 305: 'Kalani',
 306: 'Aurora',
 307: 'Sapphire',
 308: 'Morgan',
 309: 'Zora',
 310: 'Lauryn',
 311: 'Nala',
 312: 'Kamiyah',
 313: 'Sevyn',
 314: 'Amani',
 315: 'Sanai',
 316: 'Khaleesi',
 317: 'Hawa',
 318: 'Sariyah',
 319: 'Zhuri',
 320: 'Oumou',
 321: 'Eden',
 322: 'Nailah',
 323: 'Zariah',
 324: 'Kenzie',
 325: 'Gia',
 326: 'Ariyah',
 327: 'Royal',
 328: 'Khadija',
 329: 'Isabella',
 330: 'Emma',
 331: 'Sophia',
 332: 'Mia',
 333: 'Camila',
 334: 'Luna',
 335: 'Valentina',
 336: 'Sofia',
 337: 'Victoria',
 338: 'Olivia',
 339: 'Ava',
 340: 'Amelia',
 341: 'Alaia',
 342: 'Leah',
 343: 'Zoe',
 344: 'Genesis',
 345: 'Abigail',
 346: 'Scarlett',
 347: 'Emily',
 348: 'Ashley',
 349: 'Ariana',
 350: 'Penelope',
 351: 'Samantha',
 352: 'Charlotte',
 353: 'Hailey',
 354: 'Mila',
 355: 'Chloe',
 356: 'Elizabeth',
 357: 'Melanie',
 358: 'Madison',
 359: 'Allison',
 360: 'Gianna',
 361: 'Elena',
 362: 'Bella',
 363: 'Amaya',
 364: 'Amy',
 365: 'Kaylee',
 366: 'Grace',
 367: 'Valerie',
 368: 'Gabriella',
 369: 'Alexa',
 370: 'Emilia',
 371: 'Eliana',
 372: 'Daniela',
 373: 'Arya',
 374: 'Brianna',
 375: 'Kimberly',
 376: 'Riley',
 377: 'Maya',
 378: 'Valeria',
 379: 'Arianna',
 380: 'Jade',
 381: 'Sarah',
 382: 'Kylie',
 383: 'Layla',
 384: 'Ana',
 385: 'Aria',
 386: 'Amaia',
 387: 'Emely',
 388: 'Aaliyah',
 389: 'Leilani',
 390: 'Amalia',
 391: 'Natalie',
 392: 'Evelyn',
 393: 'Zoey',
 394: 'Hannah',
 395: 'Andrea',
 396: 'Eva',
 397: 'Jayleen',
 398: 'Lia',
 399: 'Samara',
 400: 'Alison',
 401: 'Juliet',
 402: 'Kayla',
 403: 'Isabel',
 404: 'Melody',
 405: 'Maria',
 406: 'Savannah',
 407: 'Violet',
 408: 'Khloe',
 409: 'Lucia',
 410: 'Diana',
 411: 'Kamila',
 412: 'Kiara',
 413: 'Rose',
 414: 'Alice',
 415: 'Aliyah',
 416: 'Natalia',
 417: 'Jazlyn',
 418: 'Gabriela',
 419: 'Ella',
 420: 'Michelle',
 421: 'Serenity',
 422: 'Athena',
 423: 'Celine',
 424: 'Antonella',
 425: 'Juliette',
 426: 'Sarai',
 427: 'Alina',
 428: 'Kaylani',
 429: 'Alexandra',
 430: 'Amanda',
 431: 'Avery',
 432: 'Stephanie',
 433: 'Aurora',
 434: 'Nicole',
 435: 'Nova',
 436: 'Alyssa',
 437: 'Jasmine',
 438: 'Ximena',
 439: 'Adriana',
 440: 'Alana',
 441: 'Maia',
 442: 'Liliana',
 443: 'Melany',
 444: 'Danna',
 445: 'Esther',
 446: 'London',
 447: 'Skylar',
 448: 'Ariella',
 449: 'Aleah',
 450: 'Catalina',
 451: 'Naomi',
 452: 'Leslie',
 453: 'Sophie',
 454: 'Mariana',
 455: 'Sienna',
 456: 'Ellie',
 457: 'Giselle',
 458: 'Destiny',
 459: 'Itzel',
 460: 'Angela',
 461: 'Vanessa',
 462: 'Aubrey',
 463: 'Liana',
 464: 'Daniella',
 465: 'Yaretzi',
 466: 'Ruby',
 467: 'Valery',
 468: 'Kailani',
 469: 'Angelina',
 470: 'Angie',
 471: 'Katherine',
 472: 'Madelyn',
 473: 'Juliana',
 474: 'Keyla',
 475: 'Jazmin',
 476: 'Jayla',
 477: 'Luciana',
 478: 'Briana',
 479: 'Nyla',
 480: 'Anastasia',
 481: 'Autumn',
 482: 'Rachel',
 483: 'Alessia',
 484: 'Alia',
 485: 'Amber',
 486: 'Brielle',
 487: 'Amira',
 488: 'Zara',
 489: 'Nylah',
 490: 'Malia',
 491: 'Kehlani',
 492: 'Julia',
 493: 'Laila',
 494: 'Dahlia',
 495: 'Eliza',
 496: 'Alondra',
 497: 'Esmeralda',
 498: 'Dayana',
 499: 'Alma',
 500: 'Summer',
 501: 'Sara',
 502: 'Selena',
 503: 'Lily',
 504: 'Nashla',
 505: 'Alanna',
 506: 'Audrey',
 507: 'Eileen',
 508: 'Elisa',
 509: 'Lizbeth',
 510: 'Mya',
 511: 'Melissa',
 512: 'Adeline',
 513: 'Alani',
 514: 'Analia',
 515: 'Luz',
 516: 'Khaleesi',
 517: 'Julissa',
 518: 'Lauren',
 519: 'Ariel',
 520: 'Delilah',
 521: 'Heaven',
 522: 'Leila',
 523: 'Angelica',
 524: 'Annalise',
 525: 'Stella',
 526: 'Liah',
 527: 'Meghan',
 528: 'April',
 529: 'Zuri',
 530: 'Miah',
 531: 'Jessica',
 532: 'Dara',
 533: 'Elianny',
 534: 'Amara',
 535: 'Guadalupe',
 536: 'Isabela',
 537: 'Isabelle',
 538: 'Kaitlyn',
 539: 'Aileen',
 540: 'Alayna',
 541: 'Karen',
 542: 'Lesly',
 543: 'Adelynn',
 544: 'Ailani',
 545: 'Alicia',
 546: 'Heidy',
 547: 'Jaylin',
 548: 'Fernanda',
 549: 'Jennifer',
 550: 'Everly',
 551: 'Cali',
 552: 'Miracle',
 553: 'Bianca',
 554: 'Aubree',
 555: 'Ayla',
 556: 'Miranda',
 557: 'Arlette',
 558: 'Evangeline',
 559: 'Rylee',
 560: 'Yaritza',
 561: 'Crystal',
 562: 'Abby',
 563: 'Adele',
 564: 'Alahia',
 565: 'Cataleya',
 566: 'Gia',
 567: 'Julianna',
 568: 'Laia',
 569: 'Litzy',
 570: 'Kali',
 571: 'Keily',
 572: 'Lyanna',
 573: 'Harley',
 574: 'Izabella',
 575: 'Skyla',
 576: 'Mackenzie',
 577: 'Milani',
 578: 'Nina',
 579: 'Scarlet',
 580: 'Tiffany',
 581: 'Sherlyn',
 582: 'Yareli',
 583: 'Chaya',
 584: 'Leah',
 585: 'Esther',
 586: 'Olivia',
 587: 'Miriam',
 588: 'Emma',
 589: 'Rachel',
 590: 'Sarah',
 591: 'Charlotte',
 592: 'Sophia',
 593: 'Sara',
 594: 'Rivka',
 595: 'Mia',
 596: 'Chana',
 597: 'Ella',
 598: 'Sofia',
 599: 'Emily',
 600: 'Ava',
 601: 'Gitty',
 602: 'Maya',
 603: 'Lily',
 604: 'Zoe',
 605: 'Amelia',
 606: 'Sophie',
 607: 'Penelope',
 608: 'Faigy',
 609: 'Isabella',
 610: 'Victoria',
 611: 'Mila',
 612: 'Malky',
 613: 'Alexandra',
 614: 'Emilia',
 615: 'Elizabeth',
 616: 'Abigail',
 617: 'Rivky',
 618: 'Eleanor',
 619: 'Hannah',
 620: 'Baila',
 621: 'Grace',
 622: 'Avery',
 623: 'Chloe',
 624: 'Julia',
 625: 'Nora',
 626: 'Anna',
 627: 'Eva',
 628: 'Layla',
 629: 'Malka',
 630: 'Evelyn',
 631: 'Eliana',
 632: 'Madison',
 633: 'Stella',
 634: 'Aria',
 635: 'Ruby',
 636: 'Violet',
 637: 'Rose',
 638: 'Josephine',
 639: 'Lucy',
 640: 'Gabriella',
 641: 'Raizy',
 642: 'Scarlett',
 643: 'Isla',
 644: 'Sienna',
 645: 'Dina',
 646: 'Riley',
 647: 'Noa',
 648: 'Harper',
 649: 'Naomi',
 650: 'Valentina',
 651: 'Margot',
 652: 'Hindy',
 653: 'Devorah',
 654: 'Lillian',
 655: 'Clara',
 656: 'Shaindy',
 657: 'Chany',
 658: 'Sadie',
 659: 'Juliette',
 660: 'Luna',
 661: 'Toby',
 662: 'Vivian',
 663: 'Esty',
 664: 'Chava',
 665: 'Natalie',
 666: 'Rebecca',
 667: 'Libby',
 668: 'Maria',
 669: 'Sury',
 670: 'Isabel',
 671: 'Talia',
 672: 'Alice',
 673: 'Ariana',
 674: 'Molly',
 675: 'Claire',
 676: 'Yitty',
 677: 'Eloise',
 678: 'Caroline',
 679: 'Hazel',
 680: 'Margaret',
 681: 'Sloane',
 682: 'Ariella',
 683: 'Isabelle',
 684: 'Madeline',
 685: 'Yides',
 686: 'Nina',
 687: 'Quinn',
 688: 'Beatrice',
 689: 'Bella',
 690: 'Vera',
 691: 'Fraidy',
 692: 'Lila',
 693: 'Liliana',
 694: 'Lyla',
 695: 'Adele',
 696: 'Audrey',
 697: 'Lucia',
 698: 'Amina',
 699: 'Ellie',
 700: 'Aurora',
 701: 'Francesca',
 702: 'Gianna',
 703: 'Kayla',
 704: 'Maeve',
 705: 'Alessia',
 706: 'Ada',
 707: 'Fiona',
 708: 'Goldy',
 709: 'Ayla',
 710: 'Jane',
 711: 'Pearl',
 712: 'Ruchy',
 713: 'Cecilia',
 714: 'Henny',
 715: 'Hailey',
 716: 'Madeleine',
 717: 'Nechama',
 718: 'Celine',
 719: 'Frances',
 720: 'Liv',
 721: 'Skylar',
 722: 'Sabrina',
 723: 'Mindy',
 724: 'Nicole',
 725: 'Angelina',
 726: 'Bruchy',
 727: 'Catherine',
 728: 'Lina',
 729: 'Gemma',
 730: 'Juliana',
 731: 'Adeline',
 732: 'Juliet',
 733: 'June',
 734: 'Bracha',
 735: 'Eliza',
 736: 'Elle',
 737: 'Sasha',
 738: 'Annabelle',
 739: 'Samantha',
 740: 'Olive',
 741: 'Siena',
 742: 'Chavy',
 743: 'Parker',
 744: 'Lea',
 745: 'Mariam',
 746: 'Alessandra',
 747: 'Yehudis',
 748: 'Arianna',
 749: 'Yael',
 750: 'Zissy',
 751: 'Layan',
 752: 'Pessy',
 753: 'Vivienne',
 754: 'Yocheved',
 755: 'Alma',
 756: 'Blima',
 757: 'Aisha',
 758: 'Breindy',
 759: 'Etty',
 760: 'Adina',
 761: 'Dylan',
 762: 'Faiga',
 763: 'Adriana',
 764: 'Anastasia',
 765: 'Simone',
 766: 'Diana',
 767: 'Elisheva',
 768: 'Sydney',
 769: 'Shoshana',
 770: 'Zoey',
 771: 'Poppy',
 772: 'Serena',
 773: 'Rochel',
 774: 'Iris',
 775: 'Hinda',
 776: 'Kaia',
 777: 'Laila',
 778: 'Maryam',
 779: 'Elena',
 780: 'Eve',
 781: 'Reese',
 782: 'Veronica',
 783: 'Frimet',
 784: 'Liba',
 785: 'Mackenzie',
 786: 'Lena',
 787: 'Imona',
 788: 'Adelaide',
 789: 'Ahuva',
 790: 'Lana',
 791: 'Leila',
 792: 'Blimy',
 793: 'Colette',
 794: 'Louise',
 795: 'Devora',
 796: 'Raizel',
 797: 'Eden',
 798: 'Liana',
 799: 'Addison',
 800: 'Edith',
 801: 'Hadassah',
 802: 'Georgia',
 803: 'Lia',
 804: 'Batsheva',
 805: 'Blake',
 806: 'Emmy',
 807: 'Jenna',
 808: 'Savannah',
 809: 'Summer',
 810: 'Willa',
 811: 'Phoebe',
 812: 'Perel',
 813: 'Paige',
 814: 'Katherine',
 815: 'Madelyn',
 816: 'Mary',
 817: 'Ruth',
 818: 'Genevieve',
 819: 'Piper',
 820: 'Lilah',
 821: 'Michelle',
 822: 'Shaindel',
 823: 'Cora',
 824: 'Esme',
 825: 'Gittel',
 826: 'Frady',
 827: 'Jana',
 828: 'Sima',
 829: 'Aviva',
 830: 'Elise',
 831: 'Ana',
 832: 'Everly',
 833: 'Remi',
 834: 'Roizy',
 835: 'Keira',
 836: 'Lara',
 837: 'Ivy',
 838: 'Luciana',
 839: 'Lilly',
 840: 'Amelie',
 841: 'Frida',
 842: 'Amira',
 843: 'Mira',
 844: 'Hanna',
 845: 'Aliza',
 846: 'Julianna',
 847: 'Arya',
 848: 'Idy',
 849: 'Laura',
 850: 'Nova',
 851: 'Emerson',
 852: 'Giuliana',
 853: 'Lola',
 854: 'Rosa',
 855: 'Matilda',
 856: 'Autumn',
 857: 'Willow',
 858: 'Louisa',
 859: 'Camilla',
 860: 'Malika',
 861: 'Shevy',
 862: 'Suri',
 863: 'Charlie',
 864: 'Daniella',
 865: 'Evie',
 866: 'Daphne',
 867: 'Iymona',
 868: 'Elliott',
 869: 'Morgan',
 870: 'Nadia',
 871: 'Jade',
 872: 'Jessica',
 873: 'Alina',
 874: 'Alyssa',
 875: 'Kamila',
 876: 'Remy',
 877: 'Romy',
 878: 'Sylvie',
 879: 'Tziporah',
 880: 'Vienna',
 881: 'Zelda',
 882: 'Annabel',
 883: 'Athena',
 884: 'Georgina',
 885: 'Aurelia',
 886: 'Allison',
 887: 'Ayala',
 888: 'Golda',
 889: 'Emery',
 890: 'Bianca',
 891: 'Gabriela',
 892: 'Gabrielle',
 893: 'Muslima',
 894: 'Jasmine',
 895: 'Nava',
 896: 'Devoiry',
 897: 'Malak',
 898: 'Perry',
 899: 'Shaina',
 900: 'Estelle',
 901: 'Sylvia',
 902: 'Bina',
 903: 'Thea',
 904: 'Yasmina',
 905: 'Brooke',
 906: 'Tzippy',
 907: 'Dana',
 908: 'Fradel',
 909: 'Winnie',
 910: 'Meira',
 911: 'Melissa',
 912: 'Zara',
 913: 'Livia',
 914: 'Michal',
 915: 'Lucille',
 916: 'Millie',
 917: 'Milana',
 918: 'Samira',
 919: 'Shifra',
 920: 'Reem',
 921: 'Noor',
 922: 'Anya',
 923: 'Peyton',
 924: 'Aya',
 925: 'Aubrey',
 926: 'Rosie',
 927: 'Celia',
 928: 'Ruchel',
 929: 'Brielle',
 930: 'Goldie',
 931: 'Camila',
 932: 'Helena',
 933: 'Dalia',
 934: 'Hendy',
 935: 'Dua',
 936: 'Ester',
 937: 'Ines',
 938: 'Jacqueline',
 939: 'Shira',
 940: 'Tzipora',
 941: 'Leia',
 942: 'Amara',
 943: 'Aliya',
 944: 'Astrid',
 945: 'Blair',
 946: 'Brianna',
 947: 'Brooklyn',
 948: 'Dahlia',
 949: 'Celeste',
 950: 'Camille',
 951: 'Devory',
 952: 'Fatima',
 953: 'Frieda',
 954: 'Giovanna',
 955: 'Juniper',
 956: 'Lydia',
 957: 'Kira',
 958: 'Lielle',
 959: 'Miri',
 960: 'Natalia',
 961: 'Reizy',
 962: 'Noelle',
 963: 'Riva',
 964: 'Tessa',
 965: 'Serafina',
 966: 'Ethan',
 967: 'Lucas',
 968: 'Aiden',
 969: 'Muhammad',
 970: 'Jayden',
 971: 'Ryan',
 972: 'Jasper',
 973: 'Liam',
 974: 'Daniel',
 975: 'Noah',
 976: 'Mason',
 977: 'Leo',
 978: 'William',
 979: 'Ayaan',
 980: 'Evan',
 981: 'Nathan',
 982: 'Alexander',
 983: 'Jason',
 984: 'Oliver',
 985: 'Henry',
 986: 'Mohammad',
 987: 'Austin',
 988: 'Kyle',
 989: 'Aaron',
 990: 'Arham',
 991: 'Dylan',
 992: 'Eric',
 993: 'Justin',
 994: 'Matthew',
 995: 'Andrew',
 996: 'Ibrahim',
 997: 'Adam',
 998: 'Abdullah',
 999: 'Ian'}

In [39]:
",".join(baby_name["nm"].str.title())

'Chloe,Olivia,Mia,Sophia,Emma,Amelia,Charlotte,Emily,Grace,Isabella,Ella,Evelyn,Ava,Hannah,Bella,Aria,Sarah,Hailey,Arya,Claire,Fatima,Ellie,Maryam,Kayla,Zoe,Audrey,Avery,Abigail,Anna,Maya,Alyssa,Alice,Sofia,Riley,Jasmine,Zoey,Celine,Emilia,Tenzin,Inaaya,Joanna,Fiona,Alina,Sophie,Leah,Anaya,Ayesha,Luna,Zainab,Eva,Annie,Amaya,Mila,Angela,Elena,Inaya,Anabia,Ariana,Manha,Penelope,Zara,Nina,Katherine,Aliza,Scarlett,Zahra,Layla,Natalie,Eleanor,Harper,Jannatul,Irene,Kylie,Aiza,Eliana,Phoebe,Jocelyn,Sara,Ashley,Cynthia,Ariel,Jessica,Ayat,Vivian,Madeline,Angelina,Melody,Amy,Khadija,Rachel,Stella,Madison,Catherine,Abby,Julia,Nora,Michelle,Aurora,Elise,Elizabeth,Kaylee,Aleena,Ivy,Ada,Naomi,Ariella,Athena,Allison,Alexandra,Mariam,Karen,Cecilia,Iris,Isla,Daisy,Joy,Kiara,Zoya,Ophelia,Erin,Lily,Elina,Miya,Aaliyah,Kelly,Stephanie,Violet,Esther,Alisha,Ruby,Angie,Norah,Rhea,Skylar,Kira,Aliya,Ayra,Aisha,Serena,Selina,Hazel,Hoorain,Muntaha,Vanessa,Vicky,Josephine,Helen,Dua,Madeleine,Nabiha,Jannat,Amara,Lydia,Lena,Alayna,Nicole,Janice,Ava,Madison,Skylar,Riley,Amelia,Olivia,Zuri,Isabella,Zoey,Serenity,Fatoumata,Chloe,Aria,Fatima,Leah,Melody,Amina,Mariam,Nova,Layla,Aaliyah,Mia,Brielle,Grace,Nyla,Sophia,Aisha,Miracle,Wynter,Kylie,Kehlani,Kayla,Savannah,Reign,Autumn,Naomi,Abigail,Zoe,Aminata,Harmony,Amira,Leilani,Taylor,Nevaeh,Ariah,Phoenix,Gianna,Bella,Genesis,Makayla,Faith,Mya,Jade,Journee,Amiyah,Emma,Rylee,London,Victoria,Gabriella,Kali,Kennedy,Jayla,Nylah,Malia,Summer,Hannah,Peyton,Ariana,Gabrielle,Arielle,Jordyn,Paige,Maliyah,Destiny,Paris,Khloe,Sarai,Sienna,Arya,Alani,Amaya,Dream,Imani,Lyric,Ella,Kaylee,Ariel,Avery,Sarah,Aubrey,Aicha,Dior,Khadijah,Ryan,Mariama,Royalty,Amora,Amara,Maya,Kimora,Mackenzie,Leila,Milan,Laila,Isabelle,Winter,Sage,Bintou,Shiloh,Melanie,Michelle,Journey,Milani,Aliyah,Trinity,Hailey,Jaliyah,Emily,Zainab,Alexis,Jasmine,Amirah,Hope,Londyn,Anaya,Cali,Skylah,Jewel,Kori,Elizabeth,Maryam,Eva,Nia,Arianna,Luna,Brianna,Chelsea,Janiyah,Eliana,Tori,Jada,Lauren,Egypt,Zara,Aniyah,Amayah,Mckenzie,Kalani,Aurora,Sapphire,Morgan,Zora,Lauryn,Nala,Kamiyah,Sevyn,Amani,Sanai,Khaleesi,Hawa,Sariyah,Zhuri,Oumou,Eden,Nailah,Zariah,Kenzie,Gia,Ariyah,Royal,Khadija,Isabella,Emma,Sophia,Mia,Camila,Luna,Valentina,Sofia,Victoria,Olivia,Ava,Amelia,Alaia,Leah,Zoe,Genesis,Abigail,Scarlett,Emily,Ashley,Ariana,Penelope,Samantha,Charlotte,Hailey,Mila,Chloe,Elizabeth,Melanie,Madison,Allison,Gianna,Elena,Bella,Amaya,Amy,Kaylee,Grace,Valerie,Gabriella,Alexa,Emilia,Eliana,Daniela,Arya,Brianna,Kimberly,Riley,Maya,Valeria,Arianna,Jade,Sarah,Kylie,Layla,Ana,Aria,Amaia,Emely,Aaliyah,Leilani,Amalia,Natalie,Evelyn,Zoey,Hannah,Andrea,Eva,Jayleen,Lia,Samara,Alison,Juliet,Kayla,Isabel,Melody,Maria,Savannah,Violet,Khloe,Lucia,Diana,Kamila,Kiara,Rose,Alice,Aliyah,Natalia,Jazlyn,Gabriela,Ella,Michelle,Serenity,Athena,Celine,Antonella,Juliette,Sarai,Alina,Kaylani,Alexandra,Amanda,Avery,Stephanie,Aurora,Nicole,Nova,Alyssa,Jasmine,Ximena,Adriana,Alana,Maia,Liliana,Melany,Danna,Esther,London,Skylar,Ariella,Aleah,Catalina,Naomi,Leslie,Sophie,Mariana,Sienna,Ellie,Giselle,Destiny,Itzel,Angela,Vanessa,Aubrey,Liana,Daniella,Yaretzi,Ruby,Valery,Kailani,Angelina,Angie,Katherine,Madelyn,Juliana,Keyla,Jazmin,Jayla,Luciana,Briana,Nyla,Anastasia,Autumn,Rachel,Alessia,Alia,Amber,Brielle,Amira,Zara,Nylah,Malia,Kehlani,Julia,Laila,Dahlia,Eliza,Alondra,Esmeralda,Dayana,Alma,Summer,Sara,Selena,Lily,Nashla,Alanna,Audrey,Eileen,Elisa,Lizbeth,Mya,Melissa,Adeline,Alani,Analia,Luz,Khaleesi,Julissa,Lauren,Ariel,Delilah,Heaven,Leila,Angelica,Annalise,Stella,Liah,Meghan,April,Zuri,Miah,Jessica,Dara,Elianny,Amara,Guadalupe,Isabela,Isabelle,Kaitlyn,Aileen,Alayna,Karen,Lesly,Adelynn,Ailani,Alicia,Heidy,Jaylin,Fernanda,Jennifer,Everly,Cali,Miracle,Bianca,Aubree,Ayla,Miranda,Arlette,Evangeline,Rylee,Yaritza,Crystal,Abby,Adele,Alahia,Cataleya,Gia,Julianna,Laia,Litzy,Kali,Keily,Lyanna,Harley,Izabella,Skyla,Mackenzie,Milani,Nina,Scarlet,Tiffany,Sherlyn,Yareli,Chaya,Leah,Esther,Olivia,Miriam,Emma,Rachel,Sarah,Charlotte,Sophia,Sara,Rivka,Mia,Chana,Ella,Sofia,Emily,Ava,Gitty,Maya,Lily,Zoe,Amelia,Sophie,Penelope,Faigy,Isabella,Victoria,Mila,Malky,Alexandra,Emilia,Elizabeth,Abigail,Rivky,Eleanor,Hannah,Baila,Grace,Avery,Chloe,Julia,Nora,Anna,Eva,Layla,Malka,Evelyn,Eliana,Madison,Stella,Aria,Ruby,Violet,Rose,Josephine,Lucy,Gabriella,Raizy,Scarlett,Isla,Sienna,Dina,Riley,Noa,Harper,Naomi,Valentina,Margot,Hindy,Devorah,Lillian,Clara,Shaindy,Chany,Sadie,Juliette,Luna,Toby,Vivian,Esty,Chava,Natalie,Rebecca,Libby,Maria,Sury,Isabel,Talia,Alice,Ariana,Molly,Claire,Yitty,Eloise,Caroline,Hazel,Margaret,Sloane,Ariella,Isabelle,Madeline,Yides,Nina,Quinn,Beatrice,Bella,Vera,Fraidy,Lila,Liliana,Lyla,Adele,Audrey,Lucia,Amina,Ellie,Aurora,Francesca,Gianna,Kayla,Maeve,Alessia,Ada,Fiona,Goldy,Ayla,Jane,Pearl,Ruchy,Cecilia,Henny,Hailey,Madeleine,Nechama,Celine,Frances,Liv,Skylar,Sabrina,Mindy,Nicole,Angelina,Bruchy,Catherine,Lina,Gemma,Juliana,Adeline,Juliet,June,Bracha,Eliza,Elle,Sasha,Annabelle,Samantha,Olive,Siena,Chavy,Parker,Lea,Mariam,Alessandra,Yehudis,Arianna,Yael,Zissy,Layan,Pessy,Vivienne,Yocheved,Alma,Blima,Aisha,Breindy,Etty,Adina,Dylan,Faiga,Adriana,Anastasia,Simone,Diana,Elisheva,Sydney,Shoshana,Zoey,Poppy,Serena,Rochel,Iris,Hinda,Kaia,Laila,Maryam,Elena,Eve,Reese,Veronica,Frimet,Liba,Mackenzie,Lena,Imona,Adelaide,Ahuva,Lana,Leila,Blimy,Colette,Louise,Devora,Raizel,Eden,Liana,Addison,Edith,Hadassah,Georgia,Lia,Batsheva,Blake,Emmy,Jenna,Savannah,Summer,Willa,Phoebe,Perel,Paige,Katherine,Madelyn,Mary,Ruth,Genevieve,Piper,Lilah,Michelle,Shaindel,Cora,Esme,Gittel,Frady,Jana,Sima,Aviva,Elise,Ana,Everly,Remi,Roizy,Keira,Lara,Ivy,Luciana,Lilly,Amelie,Frida,Amira,Mira,Hanna,Aliza,Julianna,Arya,Idy,Laura,Nova,Emerson,Giuliana,Lola,Rosa,Matilda,Autumn,Willow,Louisa,Camilla,Malika,Shevy,Suri,Charlie,Daniella,Evie,Daphne,Iymona,Elliott,Morgan,Nadia,Jade,Jessica,Alina,Alyssa,Kamila,Remy,Romy,Sylvie,Tziporah,Vienna,Zelda,Annabel,Athena,Georgina,Aurelia,Allison,Ayala,Golda,Emery,Bianca,Gabriela,Gabrielle,Muslima,Jasmine,Nava,Devoiry,Malak,Perry,Shaina,Estelle,Sylvia,Bina,Thea,Yasmina,Brooke,Tzippy,Dana,Fradel,Winnie,Meira,Melissa,Zara,Livia,Michal,Lucille,Millie,Milana,Samira,Shifra,Reem,Noor,Anya,Peyton,Aya,Aubrey,Rosie,Celia,Ruchel,Brielle,Goldie,Camila,Helena,Dalia,Hendy,Dua,Ester,Ines,Jacqueline,Shira,Tzipora,Leia,Amara,Aliya,Astrid,Blair,Brianna,Brooklyn,Dahlia,Celeste,Camille,Devory,Fatima,Frieda,Giovanna,Juniper,Lydia,Kira,Lielle,Miri,Natalia,Reizy,Noelle,Riva,Tessa,Serafina,Ethan,Lucas,Aiden,Muhammad,Jayden,Ryan,Jasper,Liam,Daniel,Noah,Mason,Leo,William,Ayaan,Evan,Nathan,Alexander,Jason,Oliver,Henry,Mohammad,Austin,Kyle,Aaron,Arham,Dylan,Eric,Justin,Matthew,Andrew,Ibrahim,Adam,Abdullah,Ian'

In [40]:
",".join(baby_name["nm"].str.title().drop_duplicates())

'Chloe,Olivia,Mia,Sophia,Emma,Amelia,Charlotte,Emily,Grace,Isabella,Ella,Evelyn,Ava,Hannah,Bella,Aria,Sarah,Hailey,Arya,Claire,Fatima,Ellie,Maryam,Kayla,Zoe,Audrey,Avery,Abigail,Anna,Maya,Alyssa,Alice,Sofia,Riley,Jasmine,Zoey,Celine,Emilia,Tenzin,Inaaya,Joanna,Fiona,Alina,Sophie,Leah,Anaya,Ayesha,Luna,Zainab,Eva,Annie,Amaya,Mila,Angela,Elena,Inaya,Anabia,Ariana,Manha,Penelope,Zara,Nina,Katherine,Aliza,Scarlett,Zahra,Layla,Natalie,Eleanor,Harper,Jannatul,Irene,Kylie,Aiza,Eliana,Phoebe,Jocelyn,Sara,Ashley,Cynthia,Ariel,Jessica,Ayat,Vivian,Madeline,Angelina,Melody,Amy,Khadija,Rachel,Stella,Madison,Catherine,Abby,Julia,Nora,Michelle,Aurora,Elise,Elizabeth,Kaylee,Aleena,Ivy,Ada,Naomi,Ariella,Athena,Allison,Alexandra,Mariam,Karen,Cecilia,Iris,Isla,Daisy,Joy,Kiara,Zoya,Ophelia,Erin,Lily,Elina,Miya,Aaliyah,Kelly,Stephanie,Violet,Esther,Alisha,Ruby,Angie,Norah,Rhea,Skylar,Kira,Aliya,Ayra,Aisha,Serena,Selina,Hazel,Hoorain,Muntaha,Vanessa,Vicky,Josephine,Helen,Dua,Madeleine,Nabiha,Jannat,Amara,Lydia,Lena,Alayna,Nicole,Janice,Zuri,Serenity,Fatoumata,Amina,Nova,Brielle,Nyla,Miracle,Wynter,Kehlani,Savannah,Reign,Autumn,Aminata,Harmony,Amira,Leilani,Taylor,Nevaeh,Ariah,Phoenix,Gianna,Genesis,Makayla,Faith,Mya,Jade,Journee,Amiyah,Rylee,London,Victoria,Gabriella,Kali,Kennedy,Jayla,Nylah,Malia,Summer,Peyton,Gabrielle,Arielle,Jordyn,Paige,Maliyah,Destiny,Paris,Khloe,Sarai,Sienna,Alani,Dream,Imani,Lyric,Aubrey,Aicha,Dior,Khadijah,Ryan,Mariama,Royalty,Amora,Kimora,Mackenzie,Leila,Milan,Laila,Isabelle,Winter,Sage,Bintou,Shiloh,Melanie,Journey,Milani,Aliyah,Trinity,Jaliyah,Alexis,Amirah,Hope,Londyn,Cali,Skylah,Jewel,Kori,Nia,Arianna,Brianna,Chelsea,Janiyah,Tori,Jada,Lauren,Egypt,Aniyah,Amayah,Mckenzie,Kalani,Sapphire,Morgan,Zora,Lauryn,Nala,Kamiyah,Sevyn,Amani,Sanai,Khaleesi,Hawa,Sariyah,Zhuri,Oumou,Eden,Nailah,Zariah,Kenzie,Gia,Ariyah,Royal,Camila,Valentina,Alaia,Samantha,Valerie,Alexa,Daniela,Kimberly,Valeria,Ana,Amaia,Emely,Amalia,Andrea,Jayleen,Lia,Samara,Alison,Juliet,Isabel,Maria,Lucia,Diana,Kamila,Rose,Natalia,Jazlyn,Gabriela,Antonella,Juliette,Kaylani,Amanda,Ximena,Adriana,Alana,Maia,Liliana,Melany,Danna,Aleah,Catalina,Leslie,Mariana,Giselle,Itzel,Liana,Daniella,Yaretzi,Valery,Kailani,Madelyn,Juliana,Keyla,Jazmin,Luciana,Briana,Anastasia,Alessia,Alia,Amber,Dahlia,Eliza,Alondra,Esmeralda,Dayana,Alma,Selena,Nashla,Alanna,Eileen,Elisa,Lizbeth,Melissa,Adeline,Analia,Luz,Julissa,Delilah,Heaven,Angelica,Annalise,Liah,Meghan,April,Miah,Dara,Elianny,Guadalupe,Isabela,Kaitlyn,Aileen,Lesly,Adelynn,Ailani,Alicia,Heidy,Jaylin,Fernanda,Jennifer,Everly,Bianca,Aubree,Ayla,Miranda,Arlette,Evangeline,Yaritza,Crystal,Adele,Alahia,Cataleya,Julianna,Laia,Litzy,Keily,Lyanna,Harley,Izabella,Skyla,Scarlet,Tiffany,Sherlyn,Yareli,Chaya,Miriam,Rivka,Chana,Gitty,Faigy,Malky,Rivky,Baila,Malka,Lucy,Raizy,Dina,Noa,Margot,Hindy,Devorah,Lillian,Clara,Shaindy,Chany,Sadie,Toby,Esty,Chava,Rebecca,Libby,Sury,Talia,Molly,Yitty,Eloise,Caroline,Margaret,Sloane,Yides,Quinn,Beatrice,Vera,Fraidy,Lila,Lyla,Francesca,Maeve,Goldy,Jane,Pearl,Ruchy,Henny,Nechama,Frances,Liv,Sabrina,Mindy,Bruchy,Lina,Gemma,June,Bracha,Elle,Sasha,Annabelle,Olive,Siena,Chavy,Parker,Lea,Alessandra,Yehudis,Yael,Zissy,Layan,Pessy,Vivienne,Yocheved,Blima,Breindy,Etty,Adina,Dylan,Faiga,Simone,Elisheva,Sydney,Shoshana,Poppy,Rochel,Hinda,Kaia,Eve,Reese,Veronica,Frimet,Liba,Imona,Adelaide,Ahuva,Lana,Blimy,Colette,Louise,Devora,Raizel,Addison,Edith,Hadassah,Georgia,Batsheva,Blake,Emmy,Jenna,Willa,Perel,Mary,Ruth,Genevieve,Piper,Lilah,Shaindel,Cora,Esme,Gittel,Frady,Jana,Sima,Aviva,Remi,Roizy,Keira,Lara,Lilly,Amelie,Frida,Mira,Hanna,Idy,Laura,Emerson,Giuliana,Lola,Rosa,Matilda,Willow,Louisa,Camilla,Malika,Shevy,Suri,Charlie,Evie,Daphne,Iymona,Elliott,Nadia,Remy,Romy,Sylvie,Tziporah,Vienna,Zelda,Annabel,Georgina,Aurelia,Ayala,Golda,Emery,Muslima,Nava,Devoiry,Malak,Perry,Shaina,Estelle,Sylvia,Bina,Thea,Yasmina,Brooke,Tzippy,Dana,Fradel,Winnie,Meira,Livia,Michal,Lucille,Millie,Milana,Samira,Shifra,Reem,Noor,Anya,Aya,Rosie,Celia,Ruchel,Goldie,Helena,Dalia,Hendy,Ester,Ines,Jacqueline,Shira,Tzipora,Leia,Astrid,Blair,Brooklyn,Celeste,Camille,Devory,Frieda,Giovanna,Juniper,Lielle,Miri,Reizy,Noelle,Riva,Tessa,Serafina,Ethan,Lucas,Aiden,Muhammad,Jayden,Jasper,Liam,Daniel,Noah,Mason,Leo,William,Ayaan,Evan,Nathan,Alexander,Jason,Oliver,Henry,Mohammad,Austin,Kyle,Aaron,Arham,Eric,Justin,Matthew,Andrew,Ibrahim,Adam,Abdullah,Ian'

In [41]:
",".join(baby_name["nm"].str.title().drop_duplicates().sort_values())

'Aaliyah,Aaron,Abby,Abdullah,Abigail,Ada,Adam,Addison,Adelaide,Adele,Adeline,Adelynn,Adina,Adriana,Ahuva,Aicha,Aiden,Ailani,Aileen,Aisha,Aiza,Alahia,Alaia,Alana,Alani,Alanna,Alayna,Aleah,Aleena,Alessandra,Alessia,Alexa,Alexander,Alexandra,Alexis,Alia,Alice,Alicia,Alina,Alisha,Alison,Aliya,Aliyah,Aliza,Allison,Alma,Alondra,Alyssa,Amaia,Amalia,Amanda,Amani,Amara,Amaya,Amayah,Amber,Amelia,Amelie,Amina,Aminata,Amira,Amirah,Amiyah,Amora,Amy,Ana,Anabia,Analia,Anastasia,Anaya,Andrea,Andrew,Angela,Angelica,Angelina,Angie,Aniyah,Anna,Annabel,Annabelle,Annalise,Annie,Antonella,Anya,April,Arham,Aria,Ariah,Ariana,Arianna,Ariel,Ariella,Arielle,Ariyah,Arlette,Arya,Ashley,Astrid,Athena,Aubree,Aubrey,Audrey,Aurelia,Aurora,Austin,Autumn,Ava,Avery,Aviva,Aya,Ayaan,Ayala,Ayat,Ayesha,Ayla,Ayra,Baila,Batsheva,Beatrice,Bella,Bianca,Bina,Bintou,Blair,Blake,Blima,Blimy,Bracha,Breindy,Briana,Brianna,Brielle,Brooke,Brooklyn,Bruchy,Cali,Camila,Camilla,Camille,Caroline,Cataleya,Catalina,Catherine,Cecilia,Celeste,Celia,Celine,Chana,Chany,Charlie,Charlotte,Chava,Chavy,Chaya,Chelsea,Chloe,Claire,Clara,Colette,Cora,Crystal,Cynthia,Dahlia,Daisy,Dalia,Dana,Daniel,Daniela,Daniella,Danna,Daphne,Dara,Dayana,Delilah,Destiny,Devoiry,Devora,Devorah,Devory,Diana,Dina,Dior,Dream,Dua,Dylan,Eden,Edith,Egypt,Eileen,Eleanor,Elena,Eliana,Elianny,Elina,Elisa,Elise,Elisheva,Eliza,Elizabeth,Ella,Elle,Ellie,Elliott,Eloise,Emely,Emerson,Emery,Emilia,Emily,Emma,Emmy,Eric,Erin,Esme,Esmeralda,Estelle,Ester,Esther,Esty,Ethan,Etty,Eva,Evan,Evangeline,Eve,Evelyn,Everly,Evie,Faiga,Faigy,Faith,Fatima,Fatoumata,Fernanda,Fiona,Fradel,Frady,Fraidy,Frances,Francesca,Frida,Frieda,Frimet,Gabriela,Gabriella,Gabrielle,Gemma,Genesis,Genevieve,Georgia,Georgina,Gia,Gianna,Giovanna,Giselle,Gittel,Gitty,Giuliana,Golda,Goldie,Goldy,Grace,Guadalupe,Hadassah,Hailey,Hanna,Hannah,Harley,Harmony,Harper,Hawa,Hazel,Heaven,Heidy,Helen,Helena,Hendy,Henny,Henry,Hinda,Hindy,Hoorain,Hope,Ian,Ibrahim,Idy,Imani,Imona,Inaaya,Inaya,Ines,Irene,Iris,Isabel,Isabela,Isabella,Isabelle,Isla,Itzel,Ivy,Iymona,Izabella,Jacqueline,Jada,Jade,Jaliyah,Jana,Jane,Janice,Janiyah,Jannat,Jannatul,Jasmine,Jason,Jasper,Jayden,Jayla,Jayleen,Jaylin,Jazlyn,Jazmin,Jenna,Jennifer,Jessica,Jewel,Joanna,Jocelyn,Jordyn,Josephine,Journee,Journey,Joy,Julia,Juliana,Julianna,Juliet,Juliette,Julissa,June,Juniper,Justin,Kaia,Kailani,Kaitlyn,Kalani,Kali,Kamila,Kamiyah,Karen,Katherine,Kayla,Kaylani,Kaylee,Kehlani,Keily,Keira,Kelly,Kennedy,Kenzie,Keyla,Khadija,Khadijah,Khaleesi,Khloe,Kiara,Kimberly,Kimora,Kira,Kori,Kyle,Kylie,Laia,Laila,Lana,Lara,Laura,Lauren,Lauryn,Layan,Layla,Lea,Leah,Leia,Leila,Leilani,Lena,Leo,Leslie,Lesly,Lia,Liah,Liam,Liana,Liba,Libby,Lielle,Lila,Lilah,Liliana,Lillian,Lilly,Lily,Lina,Litzy,Liv,Livia,Lizbeth,Lola,London,Londyn,Louisa,Louise,Lucas,Lucia,Luciana,Lucille,Lucy,Luna,Luz,Lyanna,Lydia,Lyla,Lyric,Mackenzie,Madeleine,Madeline,Madelyn,Madison,Maeve,Maia,Makayla,Malak,Malia,Malika,Maliyah,Malka,Malky,Manha,Margaret,Margot,Maria,Mariam,Mariama,Mariana,Mary,Maryam,Mason,Matilda,Matthew,Maya,Mckenzie,Meghan,Meira,Melanie,Melany,Melissa,Melody,Mia,Miah,Michal,Michelle,Mila,Milan,Milana,Milani,Millie,Mindy,Mira,Miracle,Miranda,Miri,Miriam,Miya,Mohammad,Molly,Morgan,Muhammad,Muntaha,Muslima,Mya,Nabiha,Nadia,Nailah,Nala,Naomi,Nashla,Natalia,Natalie,Nathan,Nava,Nechama,Nevaeh,Nia,Nicole,Nina,Noa,Noah,Noelle,Noor,Nora,Norah,Nova,Nyla,Nylah,Olive,Oliver,Olivia,Ophelia,Oumou,Paige,Paris,Parker,Pearl,Penelope,Perel,Perry,Pessy,Peyton,Phoebe,Phoenix,Piper,Poppy,Quinn,Rachel,Raizel,Raizy,Rebecca,Reem,Reese,Reign,Reizy,Remi,Remy,Rhea,Riley,Riva,Rivka,Rivky,Rochel,Roizy,Romy,Rosa,Rose,Rosie,Royal,Royalty,Ruby,Ruchel,Ruchy,Ruth,Ryan,Rylee,Sabrina,Sadie,Sage,Samantha,Samara,Samira,Sanai,Sapphire,Sara,Sarah,Sarai,Sariyah,Sasha,Savannah,Scarlet,Scarlett,Selena,Selina,Serafina,Serena,Serenity,Sevyn,Shaina,Shaindel,Shaindy,Sherlyn,Shevy,Shifra,Shiloh,Shira,Shoshana,Siena,Sienna,Sima,Simone,Skyla,Skylah,Skylar,Sloane,Sofia,Sophia,Sophie,Stella,Stephanie,Summer,Suri,Sury,Sydney,Sylvia,Sylvie,Talia,Taylor,Tenzin,Tessa,Thea,Tiffany,Toby,Tori,Trinity,Tzipora,Tziporah,Tzippy,Valentina,Valeria,Valerie,Valery,Vanessa,Vera,Veronica,Vicky,Victoria,Vienna,Violet,Vivian,Vivienne,Willa,William,Willow,Winnie,Winter,Wynter,Ximena,Yael,Yareli,Yaretzi,Yaritza,Yasmina,Yehudis,Yides,Yitty,Yocheved,Zahra,Zainab,Zara,Zariah,Zelda,Zhuri,Zissy,Zoe,Zoey,Zora,Zoya,Zuri'

In [14]:
# so as we know that we created some result using the python so if i want to store that data in csv format 
# in that case i need to use to_csv method
# encode=utf-8 mean is if some charcter which are not able to convert into A-z so so this is the standard way with the help 
# we can use it
baby_name.to_csv("NYC_babyName.csv",index=False,columns=["gndr","nm","ethcty"],encoding="utf-8")

# For Next section we need to install other liabrary
# conda install xlrd openpyxl

In [17]:
# The reason behind to install these liabrary so that we can use the excel file 
# and one more interesting thing is if we are going to use excel in that case we will be having multiple number of tabs
import pandas as pd
df=pd.read_excel("Data - Single Worksheet.xlsx")
df.head()

  First Name Last Name           City Gender
0    Brandon     James          Miami      M
1       Sean   Hawkins         Denver      M
2       Judy       Day    Los Angeles      F
3     Ashley      Ruiz  San Francisco      F
4  Stephanie     Gomez       Portland      F

In [19]:
# we can access the two way 
# First using the index -> in all the scenrio the 0 will indicate the 1 sheet
# another using the sheet name -> in our case data 1 ,data 2 are the sheet name
pd.read_excel("Data - Multiple Worksheets.xlsx",sheet_name="Data 2")
pd.read_excel("Data - Multiple Worksheets.xlsx",sheet_name=1)

  First Name Last Name           City Gender
0     Parker     Power        Raleigh      F
1    Preston  Prescott   Philadelphia      F
2    Ronaldo   Donaldo         Bangor      M
3      Megan   Stiller  San Francisco      M
4     Bustin    Jieber         Austin      F

In [25]:
data1=pd.read_excel("Data - Multiple Worksheets.xlsx",sheet_name=[0,1])

In [26]:
data2=pd.read_excel("Data - Multiple Worksheets.xlsx",sheet_name=["Data 1","Data 2"])

In [29]:
# the difference in both top upper result the index got changed 
data1[0] # this way we can access the df
data2["Data 1"] 

# best approach is second one

  First Name Last Name           City Gender
0    Brandon     James          Miami      M
1       Sean   Hawkins         Denver      M
2       Judy       Day    Los Angeles      F
3     Ashley      Ruiz  San Francisco      F
4  Stephanie     Gomez       Portland      F

In [32]:
# if we have multiple number of sheets in that case we need to use None this will help
# us to incluse all the sheet
data =pd.read_excel("Data - Multiple Worksheets.xlsx",sheet_name=None)

In [33]:
data

{'Data 1':   First Name Last Name           City Gender
 0    Brandon     James          Miami      M
 1       Sean   Hawkins         Denver      M
 2       Judy       Day    Los Angeles      F
 3     Ashley      Ruiz  San Francisco      F
 4  Stephanie     Gomez       Portland      F,
 'Data 2':   First Name Last Name           City Gender
 0     Parker     Power        Raleigh      F
 1    Preston  Prescott   Philadelphia      F
 2    Ronaldo   Donaldo         Bangor      M
 3      Megan   Stiller  San Francisco      M
 4     Bustin    Jieber         Austin      F}

# Export Excel File

In [34]:
url="https://data.cityofnewyork.us/resource/25th-nujf.csv"
baby_name=pd.read_csv(url)
baby_name.head()

   brth_yr    gndr                      ethcty      nm  cnt  rnk
0     2019  FEMALE  ASIAN AND PACIFIC ISLANDER   Chloe  131    1
1     2019  FEMALE  ASIAN AND PACIFIC ISLANDER  Olivia  109    2
2     2019  FEMALE  ASIAN AND PACIFIC ISLANDER     Mia   88    3
3     2019  FEMALE  ASIAN AND PACIFIC ISLANDER  Sophia   71    4
4     2019  FEMALE  ASIAN AND PACIFIC ISLANDER    Emma   71    4

In [37]:
male=baby_name[baby_name["gndr"]=="MALE"]
female=baby_name[baby_name["gndr"]=="FEMALE"]

In [39]:
female

     brth_yr    gndr                      ethcty        nm  cnt  rnk
0       2019  FEMALE  ASIAN AND PACIFIC ISLANDER     Chloe  131    1
1       2019  FEMALE  ASIAN AND PACIFIC ISLANDER    Olivia  109    2
2       2019  FEMALE  ASIAN AND PACIFIC ISLANDER       Mia   88    3
3       2019  FEMALE  ASIAN AND PACIFIC ISLANDER    Sophia   71    4
4       2019  FEMALE  ASIAN AND PACIFIC ISLANDER      Emma   71    4
..       ...     ...                         ...       ...  ...  ...
961     2019  FEMALE          WHITE NON HISPANIC     Reizy   10   84
962     2019  FEMALE          WHITE NON HISPANIC    Noelle   10   84
963     2019  FEMALE          WHITE NON HISPANIC      Riva   10   84
964     2019  FEMALE          WHITE NON HISPANIC     Tessa   10   84
965     2019  FEMALE          WHITE NON HISPANIC  Serafina   10   84

[966 rows x 6 columns]

In [40]:
male

     brth_yr  gndr                      ethcty         nm  cnt  rnk
966     2019  MALE  ASIAN AND PACIFIC ISLANDER      Ethan  154    1
967     2019  MALE  ASIAN AND PACIFIC ISLANDER      Lucas  153    2
968     2019  MALE  ASIAN AND PACIFIC ISLANDER      Aiden  147    3
969     2019  MALE  ASIAN AND PACIFIC ISLANDER   Muhammad  143    4
970     2019  MALE  ASIAN AND PACIFIC ISLANDER     Jayden  118    5
971     2019  MALE  ASIAN AND PACIFIC ISLANDER       Ryan  110    6
972     2019  MALE  ASIAN AND PACIFIC ISLANDER     Jasper  107    7
973     2019  MALE  ASIAN AND PACIFIC ISLANDER       Liam   80    8
974     2019  MALE  ASIAN AND PACIFIC ISLANDER     Daniel   73    9
975     2019  MALE  ASIAN AND PACIFIC ISLANDER       Noah   69   10
976     2019  MALE  ASIAN AND PACIFIC ISLANDER      Mason   65   11
977     2019  MALE  ASIAN AND PACIFIC ISLANDER        Leo   58   12
978     2019  MALE  ASIAN AND PACIFIC ISLANDER    William   58   12
979     2019  MALE  ASIAN AND PACIFIC ISLANDER      Ayaan   57   13
980     2019  MALE  ASIAN AND PACIFIC ISLANDER       Evan   56   14
981     2019  MALE  ASIAN AND PACIFIC ISLANDER     Nathan   55   15
982     2019  MALE  ASIAN AND PACIFIC ISLANDER  Alexander   53   16
983     2019  MALE  ASIAN AND PACIFIC ISLANDER      Jason   52   17
984     2019  MALE  ASIAN AND PACIFIC ISLANDER     Oliver   51   18
985     2019  MALE  ASIAN AND PACIFIC ISLANDER      Henry   48   19
986     2019  MALE  ASIAN AND PACIFIC ISLANDER   Mohammad   47   20
987     2019  MALE  ASIAN AND PACIFIC ISLANDER     Austin   46   21
988     2019  MALE  ASIAN AND PACIFIC ISLANDER       Kyle   46   21
989     2019  MALE  ASIAN AND PACIFIC ISLANDER      Aaron   45   22
990     2019  MALE  ASIAN AND PACIFIC ISLANDER      Arham   42   23
991     2019  MALE  ASIAN AND PACIFIC ISLANDER      Dylan   42   23
992     2019  MALE  ASIAN AND PACIFIC ISLANDER       Eric   41   24
993     2019  MALE  ASIAN AND PACIFIC ISLANDER     Justin   41   24
994     2019  MALE  ASIAN AND PACIFIC ISLANDER    Matthew   40   25
995     2019  MALE  ASIAN AND PACIFIC ISLANDER     Andrew   39   26
996     2019  MALE  ASIAN AND PACIFIC ISLANDER    Ibrahim   39   26
997     2019  MALE  ASIAN AND PACIFIC ISLANDER       Adam   38   27
998     2019  MALE  ASIAN AND PACIFIC ISLANDER   Abdullah   38   27
999     2019  MALE  ASIAN AND PACIFIC ISLANDER        Ian   37   28

In [59]:
excel_file=pd.ExcelWriter("Baby_name.xlsx")

In [60]:
female.to_excel(excel_file,sheet_name="Male",index=False)
male.to_excel(excel_file,sheet_name="Female",index=False)

In [63]:
excel_file.save()

AttributeError: 'OpenpyxlWriter' object has no attribute 'save'