In [1]:
import pandas as pd
import datetime as dt

# datetime liabray is not required to be download it is a standard liabrary that should be automatically download at the time 
# of downloading the python.

#then why it is not called automatically??
# the reason behind it python is conserve the memory space.

In [3]:
#YYYY,MM,DD
someday=dt.date(2016,4,12)

In [4]:
someday.year
someday.month
someday.day

12

In [5]:
#date with time
#YYYY,MM,DD,HH,MM,SS
#
sometime=dt.datetime(2010,1,10,17,25,5)

In [6]:
sometime.year
sometime.month
sometime.day
sometime.hour
sometime.minute
sometime.second

5

# The pandas timestamp object

In [11]:
pd.Timestamp("2015-03-31")
pd.Timestamp("2015/03/31")
pd.Timestamp("2015,31,3")#YYYY,DD,MM
pd.Timestamp("1/1/2015")
pd.Timestamp("19/12/2015")
pd.Timestamp("12/19/2015")
pd.Timestamp("4/3/2000")
pd.Timestamp("2015-03-31")
pd.Timestamp("2015-03-31 08:25:15")
pd.Timestamp("2015-03-31 08:25:15AM")
pd.Timestamp("2015-03-31 08:25:15PM")
#we not specify not any date beacuse of that we are getting Zeros

Timestamp('2015-03-31 20:25:15')

In [12]:
pd.Timestamp(dt.date(2015,1,1))

Timestamp('2015-01-01 00:00:00')

In [13]:
pd.Timestamp(dt.datetime(2015,1,1,21,35,22))

Timestamp('2015-01-01 21:35:22')

# The Pandas DateTimeIndex Object

In [18]:
dates=["2020/01/01","2021-02-02","2022/03/03"]
pd.DatetimeIndex(dates)

DatetimeIndex(['2020-01-01', '2021-02-02', '2022-03-03'], dtype='datetime64[ns]', freq=None)

In [20]:
date=[dt.date(2016,1,1),dt.date(2017,1,1),dt.date(2018,2,2)]
pd.DatetimeIndex(date)

DatetimeIndex(['2016-01-01', '2017-01-01', '2018-02-02'], dtype='datetime64[ns]', freq=None)

In [21]:
values=[100,200,300]

In [22]:
pd.Series(index=date,data=values)

2016-01-01    100
2017-01-01    200
2018-02-02    300
dtype: int64

# The pd.to_datetime() Method

In [4]:
# it will basically add the time stamp in the date
pd.to_datetime("2001-04-19")
pd.to_datetime(dt.date(2015,1,1))
pd.to_datetime(dt.datetime(2015,2,2,10,20,5))

Timestamp('2015-02-02 10:20:05')

In [17]:
#The error message you're receiving is because pd.to_datetime is trying to interpret the input strings as ISO8601 date format by default, and it's failing for the date string "2014/02/02" because it doesn't match the expected format "%Y-%m-%d".
#This string also not able to convert into datetime
date_string=["2015-01-02","2014/02/02","2016","July 4th, 2018"]
pd.to_datetime(date_string)

ValueError: time data "2014/02/02" doesn't match format "%Y-%m-%d", at position 1. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

DatetimeIndex(['2015-01-02', 'NaT', 'NaT', 'NaT'], dtype='datetime64[ns]', freq=None)

In [19]:
time=pd.Series(["2015-01-02", "2014/02/02", "2016", "July 4th, 2018"])
time

0        2015-01-02
1        2014/02/02
2              2016
3    July 4th, 2018
dtype: object

In [20]:
#This string also not able to convert into datetime
pd.to_datetime(time)

ValueError: time data "2014/02/02" doesn't match format "%Y-%m-%d", at position 1. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [21]:
#Here i used chat gpt but still i am getting error
# so the concept is if u are not able to convert any date into datetime format in that time u can use errors="coerce"
# so with the help of that it can provide you the the result and whereever we are getting error that place it will going to provie
# you the NaT 
date_strings = ["2015-01-02", "2014/02/02", "2016", "July 4th, 2018"]
date_series = pd.to_datetime(date_strings, format="%Y-%m-%d", errors="coerce")

print(date_series)

DatetimeIndex(['2015-01-02', 'NaT', 'NaT', 'NaT'], dtype='datetime64[ns]', freq=None)

In [26]:
pd.to_datetime([1349720105,1349806505,1349892905,1349979305,1350065705])
pd.to_datetime([1349720105,1349806505,1349892905,1349979305,1350065705],unit='s')
# if you will going to provide the unit =s that time the code will going to include the Seconds

DatetimeIndex(['2012-10-08 18:15:05', '2012-10-09 18:15:05',
               '2012-10-10 18:15:05', '2012-10-11 18:15:05',
               '2012-10-12 18:15:05'],
              dtype='datetime64[ns]', freq=None)

In [27]:
pd.to_datetime([1349720105,1349806505,1349892905,1349979305,1350065705])

DatetimeIndex(['1970-01-01 00:00:01.349720105',
               '1970-01-01 00:00:01.349806505',
               '1970-01-01 00:00:01.349892905',
               '1970-01-01 00:00:01.349979305',
               '1970-01-01 00:00:01.350065705'],
              dtype='datetime64[ns]', freq=None)

# Create Range of Dates with pd.date_range() Method

In [30]:
# so date_range method always store timestanp type object 
time=pd.date_range(start="2016-01-01",end="2016-01-10",freq="D")

In [31]:
type(time)

pandas.core.indexes.datetimes.DatetimeIndex

In [32]:
type(time[0])

pandas._libs.tslibs.timestamps.Timestamp

In [35]:
# this syntax will going to provide you the 1 D gap 
pd.date_range(start="2016-01-01",end="2016-01-10",freq="1D")

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10'],
              dtype='datetime64[ns]', freq='D')

In [36]:
pd.date_range(start="2016-01-01",end="2016-01-10",freq="2D")

DatetimeIndex(['2016-01-01', '2016-01-03', '2016-01-05', '2016-01-07',
               '2016-01-09'],
              dtype='datetime64[ns]', freq='2D')

In [37]:
#B stands for business days
pd.date_range(start="2016-01-01",end="2016-01-10",freq="B")

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08'],
              dtype='datetime64[ns]', freq='B')

In [38]:
#W stands for one day for week and by default the day will be sunday
pd.date_range(start="2016-01-01",end="2016-01-10",freq="W")

DatetimeIndex(['2016-01-03', '2016-01-10'], dtype='datetime64[ns]', freq='W-SUN')

In [42]:
pd.date_range(start="2016-01-01",end="2016-01-10",freq="W-Tue")
pd.date_range(start="2016-01-01",end="2016-01-10",freq="W-Fri")

DatetimeIndex(['2016-01-01', '2016-01-08'], dtype='datetime64[ns]', freq='W-FRI')

In [43]:
#H stands for Hour so whenver Hour will change it will store that result only
pd.date_range(start="2016-01-01",end="2016-01-10",freq="H")

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 01:00:00',
               '2016-01-01 02:00:00', '2016-01-01 03:00:00',
               '2016-01-01 04:00:00', '2016-01-01 05:00:00',
               '2016-01-01 06:00:00', '2016-01-01 07:00:00',
               '2016-01-01 08:00:00', '2016-01-01 09:00:00',
               ...
               '2016-01-09 15:00:00', '2016-01-09 16:00:00',
               '2016-01-09 17:00:00', '2016-01-09 18:00:00',
               '2016-01-09 19:00:00', '2016-01-09 20:00:00',
               '2016-01-09 21:00:00', '2016-01-09 22:00:00',
               '2016-01-09 23:00:00', '2016-01-10 00:00:00'],
              dtype='datetime64[ns]', length=217, freq='H')

In [44]:
pd.date_range(start="2016-01-01",end="2016-01-10",freq="4H")

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 04:00:00',
               '2016-01-01 08:00:00', '2016-01-01 12:00:00',
               '2016-01-01 16:00:00', '2016-01-01 20:00:00',
               '2016-01-02 00:00:00', '2016-01-02 04:00:00',
               '2016-01-02 08:00:00', '2016-01-02 12:00:00',
               '2016-01-02 16:00:00', '2016-01-02 20:00:00',
               '2016-01-03 00:00:00', '2016-01-03 04:00:00',
               '2016-01-03 08:00:00', '2016-01-03 12:00:00',
               '2016-01-03 16:00:00', '2016-01-03 20:00:00',
               '2016-01-04 00:00:00', '2016-01-04 04:00:00',
               '2016-01-04 08:00:00', '2016-01-04 12:00:00',
               '2016-01-04 16:00:00', '2016-01-04 20:00:00',
               '2016-01-05 00:00:00', '2016-01-05 04:00:00',
               '2016-01-05 08:00:00', '2016-01-05 12:00:00',
               '2016-01-05 16:00:00', '2016-01-05 20:00:00',
               '2016-01-06 00:00:00', '2016-01-06 04:00:00',
               '2016-01-06 08:00:00', '2016-01-06 12:00:00',
               '2016-01-06 16:00:00', '2016-01-06 20:00:00',
               '2016-01-07 00:00:00', '2016-01-07 04:00:00',
               '2016-01-07 08:00:00', '2016-01-07 12:00:00',
               '2016-01-07 16:00:00', '2016-01-07 20:00:00',
               '2016-01-08 00:00:00', '2016-01-08 04:00:00',
               '2016-01-08 08:00:00', '2016-01-08 12:00:00',
               '2016-01-08 16:00:00', '2016-01-08 20:00:00',
               '2016-01-09 00:00:00', '2016-01-09 04:00:00',
               '2016-01-09 08:00:00', '2016-01-09 12:00:00',
               '2016-01-09 16:00:00', '2016-01-09 20:00:00',
               '2016-01-10 00:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [48]:
#M stands for Month 
pd.date_range(start="2016-01-01",end="2016-12-31",freq="M")

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31'],
              dtype='datetime64[ns]', freq='M')

In [51]:
pd.date_range(start="2016-01-01",end="2016-12-31",freq="2M")

DatetimeIndex(['2016-01-31', '2016-03-31', '2016-05-31', '2016-07-31',
               '2016-09-30', '2016-11-30'],
              dtype='datetime64[ns]', freq='2M')

In [53]:
#it will provide month end date but if we want starting date so that we can accheive usinf MS
pd.date_range(start="2016-01-01",end="2016-12-31",freq="MS")

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [55]:
# A it will provide us year end
pd.date_range(start="2016-01-01",end="2050-12-31",freq="A")

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31', '2045-12-31', '2046-12-31', '2047-12-31',
               '2048-12-31', '2049-12-31', '2050-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [57]:
# we can also give periods parameter so that it can provide the next 50 things based on the start date
pd.date_range(start="2016-01-01",periods=50,freq="5H")

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 05:00:00',
               '2016-01-01 10:00:00', '2016-01-01 15:00:00',
               '2016-01-01 20:00:00', '2016-01-02 01:00:00',
               '2016-01-02 06:00:00', '2016-01-02 11:00:00',
               '2016-01-02 16:00:00', '2016-01-02 21:00:00',
               '2016-01-03 02:00:00', '2016-01-03 07:00:00',
               '2016-01-03 12:00:00', '2016-01-03 17:00:00',
               '2016-01-03 22:00:00', '2016-01-04 03:00:00',
               '2016-01-04 08:00:00', '2016-01-04 13:00:00',
               '2016-01-04 18:00:00', '2016-01-04 23:00:00',
               '2016-01-05 04:00:00', '2016-01-05 09:00:00',
               '2016-01-05 14:00:00', '2016-01-05 19:00:00',
               '2016-01-06 00:00:00', '2016-01-06 05:00:00',
               '2016-01-06 10:00:00', '2016-01-06 15:00:00',
               '2016-01-06 20:00:00', '2016-01-07 01:00:00',
               '2016-01-07 06:00:00', '2016-01-07 11:00:00',
               '2016-01-07 16:00:00', '2016-01-07 21:00:00',
               '2016-01-08 02:00:00', '2016-01-08 07:00:00',
               '2016-01-08 12:00:00', '2016-01-08 17:00:00',
               '2016-01-08 22:00:00', '2016-01-09 03:00:00',
               '2016-01-09 08:00:00', '2016-01-09 13:00:00',
               '2016-01-09 18:00:00', '2016-01-09 23:00:00',
               '2016-01-10 04:00:00', '2016-01-10 09:00:00',
               '2016-01-10 14:00:00', '2016-01-10 19:00:00',
               '2016-01-11 00:00:00', '2016-01-11 05:00:00'],
              dtype='datetime64[ns]', freq='5H')

In [59]:
pd.date_range(start="2016-01-01",periods=50,freq="A")

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31', '2045-12-31', '2046-12-31', '2047-12-31',
               '2048-12-31', '2049-12-31', '2050-12-31', '2051-12-31',
               '2052-12-31', '2053-12-31', '2054-12-31', '2055-12-31',
               '2056-12-31', '2057-12-31', '2058-12-31', '2059-12-31',
               '2060-12-31', '2061-12-31', '2062-12-31', '2063-12-31',
               '2064-12-31', '2065-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [60]:
pd.date_range(start="2016-01-01",periods=50,freq="W-Mon")

DatetimeIndex(['2016-01-04', '2016-01-11', '2016-01-18', '2016-01-25',
               '2016-02-01', '2016-02-08', '2016-02-15', '2016-02-22',
               '2016-02-29', '2016-03-07', '2016-03-14', '2016-03-21',
               '2016-03-28', '2016-04-04', '2016-04-11', '2016-04-18',
               '2016-04-25', '2016-05-02', '2016-05-09', '2016-05-16',
               '2016-05-23', '2016-05-30', '2016-06-06', '2016-06-13',
               '2016-06-20', '2016-06-27', '2016-07-04', '2016-07-11',
               '2016-07-18', '2016-07-25', '2016-08-01', '2016-08-08',
               '2016-08-15', '2016-08-22', '2016-08-29', '2016-09-05',
               '2016-09-12', '2016-09-19', '2016-09-26', '2016-10-03',
               '2016-10-10', '2016-10-17', '2016-10-24', '2016-10-31',
               '2016-11-07', '2016-11-14', '2016-11-21', '2016-11-28',
               '2016-12-05', '2016-12-12'],
              dtype='datetime64[ns]', freq='W-MON')

In [61]:
#we can also use in opposite fashion also
pd.date_range(end="2016-01-01",periods=50,freq="A")

DatetimeIndex(['1966-12-31', '1967-12-31', '1968-12-31', '1969-12-31',
               '1970-12-31', '1971-12-31', '1972-12-31', '1973-12-31',
               '1974-12-31', '1975-12-31', '1976-12-31', '1977-12-31',
               '1978-12-31', '1979-12-31', '1980-12-31', '1981-12-31',
               '1982-12-31', '1983-12-31', '1984-12-31', '1985-12-31',
               '1986-12-31', '1987-12-31', '1988-12-31', '1989-12-31',
               '1990-12-31', '1991-12-31', '1992-12-31', '1993-12-31',
               '1994-12-31', '1995-12-31', '1996-12-31', '1997-12-31',
               '1998-12-31', '1999-12-31', '2000-12-31', '2001-12-31',
               '2002-12-31', '2003-12-31', '2004-12-31', '2005-12-31',
               '2006-12-31', '2007-12-31', '2008-12-31', '2009-12-31',
               '2010-12-31', '2011-12-31', '2012-12-31', '2013-12-31',
               '2014-12-31', '2015-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

# The .dt Accessor

In [65]:
bunch_of_dates=pd.date_range(start="2000-01-01",end="2010-12-31",freq="24D")

In [67]:
s=pd.Series(bunch_of_dates)
s.head()

0   2000-01-01
1   2000-01-25
2   2000-02-18
3   2000-03-13
4   2000-04-06
dtype: datetime64[ns]

In [69]:
s.dt.day

0       1
1      25
2      18
3      13
4       6
       ..
163    17
164    11
165     4
166    28
167    22
Length: 168, dtype: int32

In [70]:
s.dt.month

0       1
1       1
2       2
3       3
4       4
       ..
163     9
164    10
165    11
166    11
167    12
Length: 168, dtype: int32

In [76]:
s.dt.day_name()

0       Saturday
1        Tuesday
2         Friday
3         Monday
4       Thursday
         ...
163       Friday
164       Monday
165     Thursday
166       Sunday
167    Wednesday
Length: 168, dtype: object

In [78]:
mask=s.dt.is_month_start

In [79]:
s[mask]

0     2000-01-01
19    2001-04-01
38    2002-07-01
104   2006-11-01
109   2007-03-01
137   2009-01-01
142   2009-05-01
dtype: datetime64[ns]

In [81]:
mask2=s.dt.is_month_end
s[mask2]

5     2000-04-30
57    2003-09-30
71    2004-08-31
90    2005-11-30
123   2008-01-31
161   2010-07-31
dtype: datetime64[ns]

# Install pandas-datareader

In [3]:
import pandas as pd
import datetime as dt
from pandas_datareader import data
#Pandas DataReader is a Python library that enables you to retrieve data from various sources and store it in Pandas data structures such as DataFrame and Series.

In [6]:
stocks=data.DataReader(name="MSFT",data_source="stooq",start="2010-01-01",end="2020-12-31")

In [14]:
stocks.values
stocks.columns # this will show all the column
stocks.axes
stocks.index

DatetimeIndex(['2020-12-31', '2020-12-30', '2020-12-29', '2020-12-28',
               '2020-12-24', '2020-12-23', '2020-12-22', '2020-12-21',
               '2020-12-18', '2020-12-17',
               ...
               '2010-01-15', '2010-01-14', '2010-01-13', '2010-01-12',
               '2010-01-11', '2010-01-08', '2010-01-07', '2010-01-06',
               '2010-01-05', '2010-01-04'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

# Select Rows from a DataFrame with a DatetimeIndex

In [15]:
stocks

                Open      High       Low     Close        Volume
Date
2020-12-31  217.8220  219.1040  215.8380  218.5280  2.131555e+07
2020-12-30  221.2770  221.6740  217.5950  217.8020  2.063381e+07
2020-12-29  222.3500  223.2140  219.6590  220.2050  1.771353e+07
2020-12-28  220.5040  222.0710  219.1230  221.0100  1.825327e+07
2020-12-24  217.5450  219.6890  217.3260  218.8550  1.073870e+07
...              ...       ...       ...       ...           ...
2010-01-08   23.7837   24.2642   23.7608   24.0934  6.515561e+07
2010-01-07   24.0537   24.1232   23.7221   23.9257  6.434577e+07
2010-01-06   24.2642   24.4230   23.9852   24.1758  7.403254e+07
2010-01-05   24.2542   24.4389   24.0765   24.3267  6.331174e+07
2010-01-04   24.0854   24.4389   24.0358   24.3178  4.886916e+07

[2769 rows x 5 columns]

In [23]:
stocks.loc["2010-01-04"]
stocks.loc[pd.Timestamp("2010-01-04")]

stocks.iloc[0]
stocks.iloc[500]
stocks.iloc[-1]

Open      2.408540e+01
High      2.443890e+01
Low       2.403580e+01
Close     2.431780e+01
Volume    4.886916e+07
Name: 2010-01-04 00:00:00, dtype: float64

In [27]:
stocks.loc[["2020-12-29",."2010-01-05"]]
# both are same statement 
stocks.loc[[pd.Timestamp("2020-12-29"),pd.Timestamp("2010-01-05")]]

#but be careful cause whatever u are using parameter u are defining inside loc it should be present in the actual data 
#otherwise it will going to show u error

                Open      High       Low     Close        Volume
Date
2020-12-29  222.3500  223.2140  219.6590  220.2050  1.771353e+07
2010-01-05   24.2542   24.4389   24.0765   24.3267  6.331174e+07

In [31]:
90stocks.loc["2013-10-01":"2013-10-07"]

               Open     High      Low    Close        Volume
Date
2013-10-07  28.3306  28.4209  27.9940  28.0754  4.159240e+07
2013-10-04  28.4059  28.6601  28.3484  28.5668  3.913007e+07
2013-10-03  28.5668  28.6661  28.1747  28.5489  4.590812e+07
2013-10-02  28.1260  28.6928  28.0665  28.5976  5.566476e+07
2013-10-01  28.1102  28.3395  28.0754  28.3106  4.352740e+07

In [38]:
birthdays=pd.date_range(start="1998-06-07",end="2023-10-14",freq=pd.DateOffset(years=1))

In [40]:
birthdays_stocks=stocks.index.isin(birthdays)

In [41]:
stocks[birthdays_stocks]

                Open      High       Low     Close        Volume
Date
2019-06-07  124.7500  127.6890  123.8470  126.8850  3.509024e+07
2018-06-07   97.5512   97.5909   95.3899   95.8555  2.971061e+07
2017-06-07   67.6986   67.8247   67.0593   67.4694  2.390723e+07
2016-06-07   47.5018   47.9446   47.3738   47.3738  1.997912e+07
2013-06-07   29.5119   29.9567   29.3521   29.8633  4.868129e+07
2012-06-07   24.0834   24.1311   23.7022   23.7470  4.651442e+07
2011-06-07   19.0511   19.1157   18.9033   19.0284  5.193469e+07
2010-06-07   20.2891   20.2971   19.8335   19.8722  1.022299e+08

In [43]:
stocks.loc[birthdays_stocks]

                Open      High       Low     Close        Volume
Date
2019-06-07  124.7500  127.6890  123.8470  126.8850  3.509024e+07
2018-06-07   97.5512   97.5909   95.3899   95.8555  2.971061e+07
2017-06-07   67.6986   67.8247   67.0593   67.4694  2.390723e+07
2016-06-07   47.5018   47.9446   47.3738   47.3738  1.997912e+07
2013-06-07   29.5119   29.9567   29.3521   29.8633  4.868129e+07
2012-06-07   24.0834   24.1311   23.7022   23.7470  4.651442e+07
2011-06-07   19.0511   19.1157   18.9033   19.0284  5.193469e+07
2010-06-07   20.2891   20.2971   19.8335   19.8722  1.022299e+08

# Timestemp object attributes and method

In [44]:
stocks=data.DataReader(name="MSFT",data_source="stooq",start="2010-01-01",end="2020-12-31")

In [45]:
stocks.head()

               Open     High      Low    Close        Volume
Date
2020-12-31  217.822  219.104  215.838  218.528  2.131555e+07
2020-12-30  221.277  221.674  217.595  217.802  2.063381e+07
2020-12-29  222.350  223.214  219.659  220.205  1.771353e+07
2020-12-28  220.504  222.071  219.123  221.010  1.825327e+07
2020-12-24  217.545  219.689  217.326  218.855  1.073870e+07

In [56]:
someday=stocks.index[500]
someday

Timestamp('2019-01-08 00:00:00')

In [61]:
someday.date()
someday.month
someday.week
someday.is_month_start
someday.is_month_end
someday.is_quarter_start
someday.is_quarter_end
someday.month_name()
someday.day_name()

'Tuesday'

In [62]:
stocks.index.day_name()

Index(['Thursday', 'Wednesday', 'Tuesday', 'Monday', 'Thursday', 'Wednesday',
       'Tuesday', 'Monday', 'Friday', 'Thursday',
       ...
       'Friday', 'Thursday', 'Wednesday', 'Tuesday', 'Monday', 'Friday',
       'Thursday', 'Wednesday', 'Tuesday', 'Monday'],
      dtype='object', name='Date', length=2769)

In [63]:
stocks.insert(0,"Day Name",stocks.index.day_name())

In [64]:
stocks

             Day Name      Open      High       Low     Close        Volume
Date
2020-12-31   Thursday  217.8220  219.1040  215.8380  218.5280  2.131555e+07
2020-12-30  Wednesday  221.2770  221.6740  217.5950  217.8020  2.063381e+07
2020-12-29    Tuesday  222.3500  223.2140  219.6590  220.2050  1.771353e+07
2020-12-28     Monday  220.5040  222.0710  219.1230  221.0100  1.825327e+07
2020-12-24   Thursday  217.5450  219.6890  217.3260  218.8550  1.073870e+07
...               ...       ...       ...       ...       ...           ...
2010-01-08     Friday   23.7837   24.2642   23.7608   24.0934  6.515561e+07
2010-01-07   Thursday   24.0537   24.1232   23.7221   23.9257  6.434577e+07
2010-01-06  Wednesday   24.2642   24.4230   23.9852   24.1758  7.403254e+07
2010-01-05    Tuesday   24.2542   24.4389   24.0765   24.3267  6.331174e+07
2010-01-04     Monday   24.0854   24.4389   24.0358   24.3178  4.886916e+07

[2769 rows x 6 columns]

In [68]:
stocks.insert(1,"is_month_start",stocks.index.is_month_start)

ValueError: cannot insert is_month_start, already exists

In [69]:
stocks

,Day Name,is_month_start,Open,High,Low,Close,Volume
Date,,,,,,,
2020-12-31,Thursday,False,217.8220,219.1040,215.8380,218.5280,2.131555e+07
2020-12-30,Wednesday,False,221.2770,221.6740,217.5950,217.8020,2.063381e+07
2020-12-29,Tuesday,False,222.3500,223.2140,219.6590,220.2050,1.771353e+07
2020-12-28,Monday,False,220.5040,222.0710,219.1230,221.0100,1.825327e+07
2020-12-24,Thursday,False,217.5450,219.6890,217.3260,218.8550,1.073870e+07
...,...,...,...,...,...,...,...
2010-01-08,Friday,False,23.7837,24.2642,23.7608,24.0934,6.515561e+07
2010-01-07,Thursday,False,24.0537,24.1232,23.7221,23.9257,6.434577e+07
2010-01-06,Wednesday,False,24.2642,24.4230,23.9852,24.1758,7.403254e+07
2010-01-05,Tuesday,False,24.2542,24.4389,24.0765,24.3267,6.331174e+07
2010-01-04,Monday,False,24.0854,24.4389,24.0358,24.3178,4.886916e+07

In [71]:
stocks[stocks["is_month_start"]]

,Day Name,is_month_start,Open,High,Low,Close,Volume
Date,,,,,,,
2020-12-01,Tuesday,True,210.7540,213.5230,209.6020,212.4220,3.148286e+07
2020-10-01,Thursday,True,209.1950,209.6820,207.0900,208.2030,2.771505e+07
2020-09-01,Tuesday,True,220.9700,222.8960,219.9170,222.7170,2.631985e+07
2020-07-01,Wednesday,True,198.5920,201.7210,197.2420,200.1020,3.279741e+07
2020-06-01,Monday,True,178.4290,178.8860,177.3870,178.7180,2.318935e+07
...,...,...,...,...,...,...,...
2010-07-01,Thursday,True,18.1428,18.3235,17.8589,18.1964,1.173523e+08
2010-06-01,Tuesday,True,20.0906,20.6763,20.0559,20.3438,9.687786e+07
2010-04-01,Thursday,True,23.0619,23.2089,22.4861,22.9120,9.513903e+07
2010-03-01,Monday,True,22.6053,22.8277,22.4196,22.8048,5.570803e+07
2010-02-01,Monday,True,22.3144,22.3809,21.9382,22.3234,1.092082e+08

# The pd.DateOffset Object

In [72]:
stocks=data.DataReader(name="MSFT",data_source="stooq",start="2010-01-01",end="2020-12-31")

In [76]:
stocks.index

DatetimeIndex(['2020-12-31', '2020-12-30', '2020-12-29', '2020-12-28',
               '2020-12-24', '2020-12-23', '2020-12-22', '2020-12-21',
               '2020-12-18', '2020-12-17',
               ...
               '2010-01-15', '2010-01-14', '2010-01-13', '2010-01-12',
               '2010-01-11', '2010-01-08', '2010-01-07', '2010-01-06',
               '2010-01-05', '2010-01-04'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [73]:
stocks.index+pd.DateOffset(days=5)

DatetimeIndex(['2021-01-05', '2021-01-04', '2021-01-03', '2021-01-02',
               '2020-12-29', '2020-12-28', '2020-12-27', '2020-12-26',
               '2020-12-23', '2020-12-22',
               ...
               '2010-01-20', '2010-01-19', '2010-01-18', '2010-01-17',
               '2010-01-16', '2010-01-13', '2010-01-12', '2010-01-11',
               '2010-01-10', '2010-01-09'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [77]:
stocks.index-pd.DateOffset(days=5)

DatetimeIndex(['2020-12-26', '2020-12-25', '2020-12-24', '2020-12-23',
               '2020-12-19', '2020-12-18', '2020-12-17', '2020-12-16',
               '2020-12-13', '2020-12-12',
               ...
               '2010-01-10', '2010-01-09', '2010-01-08', '2010-01-07',
               '2010-01-06', '2010-01-03', '2010-01-02', '2010-01-01',
               '2009-12-31', '2009-12-30'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [85]:
stocks.index+pd.DateOffset(weeks=2)
stocks.index+pd.DateOffset(weeks=3)

stocks.index+pd.DateOffset(months=2)
stocks.index-pd.DateOffset(weeks=2)

stocks.index+pd.DateOffset(years=1)
stocks.index-pd.DateOffset(years=1)

DatetimeIndex(['2019-12-31', '2019-12-30', '2019-12-29', '2019-12-28',
               '2019-12-24', '2019-12-23', '2019-12-22', '2019-12-21',
               '2019-12-18', '2019-12-17',
               ...
               '2009-01-15', '2009-01-14', '2009-01-13', '2009-01-12',
               '2009-01-11', '2009-01-08', '2009-01-07', '2009-01-06',
               '2009-01-05', '2009-01-04'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [86]:
stocks.index+pd.DateOffset(years=1,months=3,days=10,hours=6,minutes=2)

DatetimeIndex(['2022-04-10 06:02:00', '2022-04-09 06:02:00',
               '2022-04-08 06:02:00', '2022-04-07 06:02:00',
               '2022-04-03 06:02:00', '2022-04-02 06:02:00',
               '2022-04-01 06:02:00', '2022-03-31 06:02:00',
               '2022-03-28 06:02:00', '2022-03-27 06:02:00',
               ...
               '2011-04-25 06:02:00', '2011-04-24 06:02:00',
               '2011-04-23 06:02:00', '2011-04-22 06:02:00',
               '2011-04-21 06:02:00', '2011-04-18 06:02:00',
               '2011-04-17 06:02:00', '2011-04-16 06:02:00',
               '2011-04-15 06:02:00', '2011-04-14 06:02:00'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

# Timeseries offset

In [102]:
stocks=data.DataReader(name="MSFT",data_source="stooq",start="2010-01-01",end="2020-12-31")
stocks

                Open      High       Low     Close        Volume
Date
2020-12-31  217.8220  219.1040  215.8380  218.5280  2.131555e+07
2020-12-30  221.2770  221.6740  217.5950  217.8020  2.063381e+07
2020-12-29  222.3500  223.2140  219.6590  220.2050  1.771353e+07
2020-12-28  220.5040  222.0710  219.1230  221.0100  1.825327e+07
2020-12-24  217.5450  219.6890  217.3260  218.8550  1.073870e+07
...              ...       ...       ...       ...           ...
2010-01-08   23.7837   24.2642   23.7608   24.0934  6.515561e+07
2010-01-07   24.0537   24.1232   23.7221   23.9257  6.434577e+07
2010-01-06   24.2642   24.4230   23.9852   24.1758  7.403254e+07
2010-01-05   24.2542   24.4389   24.0765   24.3267  6.331174e+07
2010-01-04   24.0854   24.4389   24.0358   24.3178  4.886916e+07

[2769 rows x 5 columns]

In [105]:
#MonthEnd meaning next month end date
stocks.index+pd.tseries.offsets.MonthEnd()
stocks.index-pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30',
               ...
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [106]:
#MonthBegin ->Next month begin date

stocks.index+pd.tseries.offsets.MonthBegin()

DatetimeIndex(['2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01',
               ...
               '2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [ ]:
# pd.tseries.offsets instead of we can use from pandas.tseries import offsets
# so at the time of fetching the data it will be offsets.<class name>

In [113]:
from pandas.tseries import offsets
stocks.index+offsets.BMonthEnd()
stocks.index-offsets.BMonthEnd()

DatetimeIndex(['2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30',
               ...
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [115]:
stocks.index+offsets.YearEnd()
stocks.index-offsets.YearEnd()

DatetimeIndex(['2019-12-31', '2019-12-31', '2019-12-31', '2019-12-31',
               '2019-12-31', '2019-12-31', '2019-12-31', '2019-12-31',
               '2019-12-31', '2019-12-31',
               ...
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [117]:
#YearBegin()->Next Year Begin
stocks.index+offsets.YearBegin()
stocks.index-offsets.YearBegin()

DatetimeIndex(['2020-01-01', '2020-01-01', '2020-01-01', '2020-01-01',
               '2020-01-01', '2020-01-01', '2020-01-01', '2020-01-01',
               '2020-01-01', '2020-01-01',
               ...
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

# The Timedelta Object

In [ ]:
#Timedelta represent time span or a duration or passage of time

In [119]:
time_a=pd.Timestamp("2020-03-31")
time_b=pd.Timestamp("2020-03-20")

time_a-time_b

Timedelta('11 days 00:00:00')

In [121]:
time_a=pd.Timestamp("2020-03-31 4:35:16AM")
time_b=pd.Timestamp("2020-03-20 6:35:17PM")

time_a-time_b
time_b-time_a

Timedelta('-11 days +14:00:01')

In [122]:
#Timedelta will help you when u want to add some specific timestamp
pd.Timedelta(days=3)

Timedelta('3 days 00:00:00')

In [123]:
time_a+pd.Timedelta(days=3)

Timestamp('2020-04-03 04:35:16')

In [125]:
pd.Timedelta(days=3,minutes=45)
pd.Timedelta(days=3,minutes=45,seconds=20)

Timedelta('3 days 00:45:20')

In [130]:
pd.Timedelta("5 minutes")
pd.Timedelta("5 minutes 26 seconds")
pd.Timedelta("6 hour 5 minutes")

pd.Timedelta("15 days 6 hour 5 minutes")
pd.Timedelta("15 days 6 hour 5 minutes 23 seconds")

Timedelta('15 days 06:05:23')

# Timedeltas in object

In [135]:
shipping=pd.read_csv("ecommerce.csv",index_col="ID",parse_dates=["order_date","delivery_date"])
shipping.head(3)

C:\Users\tusha\AppData\Local\Temp\ipykernel_5672\73325731.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  shipping=pd.read_csv("ecommerce.csv",index_col="ID",parse_dates=["order_date","delivery_date"])
C:\Users\tusha\AppData\Local\Temp\ipykernel_5672\73325731.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  shipping=pd.read_csv("ecommerce.csv",index_col="ID",parse_dates=["order_date","delivery_date"])

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26

In [138]:
shipping.insert(2,"Delivery Time",shipping["delivery_date"]-shipping["order_date"])

In [139]:
shipping

    order_date delivery_date Delivery Time
ID
1   1998-05-24    1999-02-05      257 days
2   1992-04-22    1998-03-06     2144 days
4   1991-02-10    1992-08-26      563 days
5   1992-07-21    1997-11-20     1948 days
7   1993-09-02    1998-06-10     1742 days
..         ...           ...           ...
990 1991-06-24    1996-02-02     1684 days
991 1991-09-09    1998-03-30     2394 days
993 1990-11-16    1998-04-27     2719 days
994 1993-06-03    1993-06-13       10 days
997 1990-01-04    1991-10-03      637 days

[501 rows x 3 columns]

In [142]:
shipping["Twice as long"]=shipping["delivery_date"]+shipping["Delivery Time"]
shipping.head

<bound method NDFrame.head of     order_date delivery_date Delivery Time Twice as long
ID
1   1998-05-24    1999-02-05      257 days    1999-10-20
2   1992-04-22    1998-03-06     2144 days    2004-01-18
4   1991-02-10    1992-08-26      563 days    1994-03-12
5   1992-07-21    1997-11-20     1948 days    2003-03-22
7   1993-09-02    1998-06-10     1742 days    2003-03-18
..         ...           ...           ...           ...
990 1991-06-24    1996-02-02     1684 days    2000-09-12
991 1991-09-09    1998-03-30     2394 days    2004-10-18
993 1990-11-16    1998-04-27     2719 days    2005-10-06
994 1993-06-03    1993-06-13       10 days    1993-06-23
997 1990-01-04    1991-10-03      637 days    1993-07-01

[501 rows x 4 columns]>

In [144]:
shipping[shipping["Delivery Time"]>"365 days"]

    order_date delivery_date Delivery Time Twice as long
ID
2   1992-04-22    1998-03-06     2144 days    2004-01-18
4   1991-02-10    1992-08-26      563 days    1994-03-12
5   1992-07-21    1997-11-20     1948 days    2003-03-22
7   1993-09-02    1998-06-10     1742 days    2003-03-18
9   1990-01-25    1994-10-02     1711 days    1999-06-09
..         ...           ...           ...           ...
986 1990-12-10    1992-12-16      737 days    1994-12-23
990 1991-06-24    1996-02-02     1684 days    2000-09-12
991 1991-09-09    1998-03-30     2394 days    2004-10-18
993 1990-11-16    1998-04-27     2719 days    2005-10-06
997 1990-01-04    1991-10-03      637 days    1993-07-01

[394 rows x 4 columns]

In [145]:
shipping["Delivery Time"].max()

Timedelta('3583 days 00:00:00')

In [146]:
shipping["Delivery Time"].min()

Timedelta('8 days 00:00:00')